AppraisalWorld/Mismo/AppraisalXML2_4_1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0 U (http://www.xmlspy.com) by Jeff J Bradford (private) -->
<!--DTD generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<!ELEMENT VALUATION_RESPONSE (KEY*, REPORT?, PARTIES*, PROPERTY*, VALUATION_METHODS*, VALUATION*, APPRAISAL_UPDATE*, APPRAISAL_REVIEW*, COMPLIANCE_INSPECTION*)>
<!ATTLIST VALUATION_RESPONSE
	MISMOVersionID CDATA #FIXED "2.4.1"
	RequestingPartyTransactionIdentifier CDATA #IMPLIED
	VendorVersionIdentifier CDATA #IMPLIED
>
<!ELEMENT KEY (#PCDATA)>
<!ATTLIST KEY
	_Name CDATA #IMPLIED
	_Value CDATA #IMPLIED
>
<!ELEMENT REPORT (FORM*, EMBEDDED_FILE*, REFERENCED_FILE*)>
<!ATTLIST REPORT
	_ID ID #IMPLIED
	AppraisalSoftwareProductName CDATA #IMPLIED
	AppraisalSoftwareProductVersionIdentifier CDATA #IMPLIED
	AppraisalFormType (FNM1004 | FNM1004B | FNM1004C | FNM1004D | ERC2001 | ERC2003 | FNM2090 | FNM2095 | FNM1073 | FNM1075 | FNM1025 | FNM2000 | FNM2000A | FNM2055 | FNM2065 | FRE2070 | FNM2075 | FRE2055 | MobileHome | VacantLand | FNM442 | Other) #IMPLIED
	AppraisalFormTypeOtherDescription CDATA #IMPLIED
	AppraisalFormVersionIdentifier CDATA #IMPLIED
	USPAPReportDescription CDATA #IMPLIED
	AppraiserFileIdentifier CDATA #IMPLIED
	AppraiserAdditionalFileIdentifierName CDATA #IMPLIED
	AppraiserAdditionalFileIdentifier CDATA #IMPLIED
	OtherLoanPurposeDescription CDATA #IMPLIED
	LoanOriginationSystemLoanIdentifier CDATA #IMPLIED
	AppraiserReportSignedDate CDATA #IMPLIED
	SupervisorReportSignedDate CDATA #IMPLIED
	AppraisalScopeOfWorkDescription CDATA #IMPLIED
	AppraisalIntendedUserDescription CDATA #IMPLIED
	AppraisalIntendedUseDescription CDATA #IMPLIED
	AppraiserUndueInfluenceIndicator (Y | N) #IMPLIED
	AppraiserUndueInfluenceDescription CDATA #IMPLIED
	AppraisalPurposeType (Purchase | Refinance | PortfolioEvaluation | QualityControl | JuniorLien | Foreclosure | REO | Review | Validation | EmployeeRelocation | Other) #IMPLIED
	AppraisalPurposeTypeOtherDescription CDATA #IMPLIED
	ValuationRequestCommentText CDATA #IMPLIED
	ReportTitleDescription CDATA #IMPLIED
>
<!ELEMENT PARTIES (REAL_ESTATE_AGENT*, LENDER*, BORROWER*, BUILDER*)>
<!ATTLIST PARTIES
	_ID ID #IMPLIED
	RequestingPartyAssignedVendorName CDATA #IMPLIED
>
<!ELEMENT PROPERTY (PARSED_STREET_ADDRESS*, _IDENTIFICATION*, _LEGAL_DESCRIPTION*, STRUCTURE*, _OFF_SITE_IMPROVEMENT*, SITE*, PROJECT*, NEIGHBORHOOD*, _TITLE_TRANSFER_INSPECTION*, _TAX*, SALES_HISTORY*, LISTING_HISTORY*, EMBEDDED_FILE*, PROPERTY_ANALYSIS*, _OWNER*, SALES_CONTRACT*)>
<!ATTLIST PROPERTY
	_ID ID #IMPLIED
	MISMOVersionID CDATA #FIXED "2.4.1"
	_SequenceIdentifier CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_County CDATA #IMPLIED
	_Country CDATA #IMPLIED
	BuildingStatusType (Complete | Existing | Proposed | SubjectToAlteration | SubstantiallyRehabilitated | UnderConstruction | Incomplete | Other) #IMPLIED
	BuildingStatusTypeOtherDescription CDATA #IMPLIED
	LandUseType (Residential | Income | Commercial | Industrial | Vacant | Agricultural | PublicAndSemipublic | Recreational | TransportationAndUtility | Other) #IMPLIED
	LandUseTypeOtherDescription CDATA #IMPLIED
	LandUseComment CDATA #IMPLIED
	_CurrentOccupancyType (Abandoned | AdverseOccupied | OwnerOccupied | RemovedOrDestroyed | TenantOccupied | Unknown | Vacant) #IMPLIED
	_CurrentOccupantUnparsedName CDATA #IMPLIED
	_GatedCommunityIndicator (Y | N) #IMPLIED
	_RightsType (CommunityProperty | FeeSimple | JointTenants | Leasehold | TenantsInCommon | Cooperative | Personal | DeMinimisPUD | Unassigned | Other) #IMPLIED
	_RightsTypeOtherDescription CDATA #IMPLIED
	_TaxDelinquentIndicator (Y | N) #IMPLIED
	_TitleCategoryType (SingleFamily | Condominium | Townhouse | Cooperative | TwoToFourUnitProperty | MultipleFamilyMoreThanFourUnits | ManufacturedHome | CommercialNonResidential | MixedUserResidential | Farm | HomeAndBusinessCombined | VacantLand | Church | CondominiumOverFourStories | Other) #IMPLIED
	_TitleCategoryTypeOtherDescription CDATA #IMPLIED
	_AppraisedWithinPreviousYearIndicator (Y | N) #IMPLIED
	_AppraisedWithinPreviousYearDescription CDATA #IMPLIED
	LeaseExpirationDate CDATA #IMPLIED
	LeaseStartDate CDATA #IMPLIED
	PropertyDescription CDATA #IMPLIED
	_TypicalMarketingDaysCount CDATA #IMPLIED
	ProjectClassificationType (Condominium | Cooperative | PUD | Other) #IMPLIED
	ProjectClassificationTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT VALUATION_METHODS (COST_ANALYSIS*, SALES_COMPARISON*, INCOME_ANALYSIS*, PRICE_FORECASTING*)>
<!ATTLIST VALUATION_METHODS
	_ID ID #IMPLIED
	_AdditionalDescription CDATA #IMPLIED
>
<!ELEMENT VALUATION (NORMAL_EXPOSURE*, EXTENDED_EXPOSURE*, _RECONCILIATION*)>
<!ATTLIST VALUATION
	PropertyAppraisedValueAmount CDATA #IMPLIED
	PropertyForecastedSalePriceAmount CDATA #IMPLIED
	AppraisalEffectiveDate CDATA #IMPLIED
>
<!ELEMENT APPRAISAL_UPDATE (ORIGINAL_LENDER*, ORIGINAL_APPRAISER*, ORIGINAL_APPRAISAL*)>
<!ATTLIST APPRAISAL_UPDATE
	AppraisalUpdateIndicator (Y | N) #IMPLIED
	AppraisalCompletionCertificateIndicator (Y | N) #IMPLIED
	PropertyMarketValueDecreasedIndicator (Y | N) #IMPLIED
	PropertyImprovementsCompletedIndicator (Y | N) #IMPLIED
	AppraisalUpdateComment CDATA #IMPLIED
	AppraisalCompletionCertificateComment CDATA #IMPLIED
>
<!ELEMENT APPRAISAL_REVIEW (_CATEGORY*, ADJUSTMENT_RATIO*, APPRAISAL_INFORMATION_RATING*, ORIGINAL_LENDER*, ORIGINAL_APPRAISER*, ORIGINAL_APPRAISAL*)>
<!ATTLIST APPRAISAL_REVIEW
	_ID ID #IMPLIED
	_OriginalAppraisedValueAccurateIndicator (Y | N) #IMPLIED
	_ExtraordinaryAssumptionsDescription CDATA #IMPLIED
	_DisagreementDescription CDATA #IMPLIED
	PropertyMarketValueDecreasedIndicator (Y | N) #IMPLIED
	_ImprovementsCompletedIndicator (Y | N) #IMPLIED
	_MarketValueChangeComment CDATA #IMPLIED
	_ValueConclusionComment CDATA #IMPLIED
	_RecommendedValueAmount CDATA #IMPLIED
	AppraisalReportRatingType (Good | Fair | Poor | Adequate | InAdequate | Unacceptable) #IMPLIED
	_RecommendedActionType (AcceptAsis | DoAnotherAppraisal | AcceptWithRevision | Other) #IMPLIED
	_RecommendedActionTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT COMPLIANCE_INSPECTION (CONSTRUCTION_COMPLIANCE*, CONSTRUCTION_ISSUE*)>
<!ATTLIST COMPLIANCE_INSPECTION
	_ReportOnSiteIndicator (Y | N) #IMPLIED
	_ReportNotOfficialIndicator (Y | N) #IMPLIED
	_ReportSignedDate CDATA #IMPLIED
	_Date CDATA #IMPLIED
	_PreviousReportDate CDATA #IMPLIED
	AgencyCaseIdentifier CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	_InspectorIdentifier CDATA #IMPLIED
	_Type (Initial | Framing | Final | Repair | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_InspectorType (FeeInspector | StaffInspector | Appraiser | HUDInspector) #IMPLIED
>
<!ELEMENT FORM (IMAGE*, COMMENT*, SIGNERS?, PARTIES*, MARKET*, PROPERTY*, VALUATION_METHODS*, VALUATION*)>
<!ATTLIST FORM
	_ID ID #IMPLIED
	AppraisalReportContentSequenceIdentifier CDATA #IMPLIED
	AppraisalReportContentType (CoverPage | Addendum | AppraisalForm | Certification | Comment | ExtraSales | ExtraRentals | ExtraListings | Sketch | LocationMap | Misc | PlatMap | FloodMap | SubjectPhotos | SalePhotos | ListingPhotos | RentalPhotos | CommentAddendum | Exhibit | SalesContract | AppraisalLicense | Invoice | Map | Photos | Transmittal | Order | Other) #IMPLIED
	AppraisalReportContentTypeOtherDescription CDATA #IMPLIED
	AppraisalReportContentIdentifier CDATA #IMPLIED
	AppraisalReportContentName CDATA #IMPLIED
	AppraisalReportContentDescription CDATA #IMPLIED
	AppraisalReportContentIsPrimaryFormIndicator (Y | N) #IMPLIED
>
<!ELEMENT EMBEDDED_FILE (DOCUMENT*)>
<!ATTLIST EMBEDDED_FILE
	_ID ID #IMPLIED
	_Type CDATA #IMPLIED
	_Version CDATA #IMPLIED
	_Name CDATA #IMPLIED
	_Extension CDATA #IMPLIED
	_EncodingType CDATA #IMPLIED
	_Description CDATA #IMPLIED
	MIMEType CDATA #IMPLIED
>
<!ELEMENT REFERENCED_FILE (#PCDATA)>
<!ATTLIST REFERENCED_FILE
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_ExtensionIdentifier CDATA #IMPLIED
	_Type (PDF | HTML | TXT | XML | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_PathDescription CDATA #IMPLIED
	_URLDescription CDATA #IMPLIED
	_CreatorName CDATA #IMPLIED
	_CreatorVersionIdentifier CDATA #IMPLIED
>
<!ELEMENT REAL_ESTATE_AGENT (CONTACT_DETAIL*, REAL_ESTATE_AGENT_LICENSE*)>
<!ATTLIST REAL_ESTATE_AGENT
	_ID ID #IMPLIED
	_Type (Listing | Other | Selling) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_County CDATA #IMPLIED
>
<!ELEMENT LENDER (CONTACT_DETAIL*)>
<!ATTLIST LENDER
	_ID ID #IMPLIED
	_Identifier CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	AppraisalFormsUnparsedAddress CDATA #IMPLIED
>
<!ELEMENT MARKET (MARKET_INVENTORY*, SUBJECT_PROJECT*)>
<!ATTLIST MARKET
	_ID ID #IMPLIED
	MarketTrendsAdverseFinancingIndicator (Y | N) #IMPLIED
	MarketTrendsAdverseFinancingTrendType (Increasing | Stable | Declining) #IMPLIED
	SalesConcessionDescription CDATA #IMPLIED
	MarketTrendsForeclosureActivityIndicator (Y | N) #IMPLIED
	NeighborhoodMarketabilityFactorsDescription CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	MarketTrendsReconciliationComment CDATA #IMPLIED
>
<!ELEMENT SUBJECT_PROJECT (MARKET_INVENTORY*)>
<!ATTLIST SUBJECT_PROJECT
	_ID ID #IMPLIED
	MarketTrendsForeclosureActivityIndicator (Y | N) #IMPLIED
	NeighborhoodMarketabilityFactorsDescription CDATA #IMPLIED
	MarketTrendsReconciliationComment CDATA #IMPLIED
>
<!ELEMENT MARKET_INVENTORY (#PCDATA)>
<!ATTLIST MARKET_INVENTORY
	_ID ID #IMPLIED
	_Type (TotalSales | AbsorptionRate | TotalListings | Supply | MedianSalesPrice | MedianSalesDOM | MedianListPrice | MedianListDOM | MedianSaleToListRatio | SellerFinancing) #IMPLIED
	_TrendType (Increasing | Stable | Declining) #IMPLIED
	_MonthRangeType (Prior7To12Months | Prior4To6Months | Last3Months) #IMPLIED
	_Count CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_Rate CDATA #IMPLIED
>
<!ELEMENT BORROWER (#PCDATA)>
<!ATTLIST BORROWER
	_ID ID #IMPLIED
	_FirstName CDATA #IMPLIED
	_MiddleName CDATA #IMPLIED
	_LastName CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
>
<!ELEMENT BUILDER (#PCDATA)>
<!ATTLIST BUILDER
	_ID ID #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
>
<!ELEMENT PARSED_STREET_ADDRESS (#PCDATA)>
<!ATTLIST PARSED_STREET_ADDRESS
	_ID ID #IMPLIED
	_StreetName CDATA #IMPLIED
	_DirectionPrefix CDATA #IMPLIED
	_DirectionSuffix CDATA #IMPLIED
	_StreetSuffix CDATA #IMPLIED
	_HouseNumber CDATA #IMPLIED
	_BuildingNumber CDATA #IMPLIED
	_ApartmentOrUnit CDATA #IMPLIED
	_MilitaryAPOFPO CDATA #IMPLIED
	_RuralRoute CDATA #IMPLIED
	_PostOfficeBox CDATA #IMPLIED
	PlusFourPostalCode CDATA #IMPLIED
	SitusCarrierRouteIdentifier CDATA #IMPLIED
>
<!ELEMENT _IDENTIFICATION (#PCDATA)>
<!ATTLIST _IDENTIFICATION
	_ID ID #IMPLIED
	AssessorsParcelIdentifier CDATA #IMPLIED
	AssessorsSecondParcelIdentifier CDATA #IMPLIED
	CountyFIPSCode CDATA #IMPLIED
	CensusTractIdentifier CDATA #IMPLIED
	LongitudeNumber CDATA #IMPLIED
	LatitudeNumber CDATA #IMPLIED
	MapReferenceIdentifier CDATA #IMPLIED
	MapReferenceSecondIdentifier CDATA #IMPLIED
	MSAIdentifier CDATA #IMPLIED
	MunicipalityName CDATA #IMPLIED
	SchoolDistrictName CDATA #IMPLIED
	StateFIPSCode CDATA #IMPLIED
>
<!ELEMENT _LEGAL_DESCRIPTION (PLATTED_LAND*, UNPLATTED_LAND*, PARCEL_IDENTIFICATION*)>
<!ATTLIST _LEGAL_DESCRIPTION
	_ID ID #IMPLIED
	_TextDescription CDATA #IMPLIED
	_Type (MetesAndBounds | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT STRUCTURE (STRUCTURE_DATA_SOURCE*, EXTERIOR_FEATURE*, MANUFACTURED_HOME*, FOUNDATION*, FOUNDATION_FEATURE*, BASEMENT*, INSULATION*, LEVEL*, INTERIOR_FEATURE*, FLOOR_COVERING*, HEATING*, COOLING*, KITCHEN_EQUIPMENT*, ATTIC*, AMENITY*, SOLAR*, CAR_STORAGE*, STRUCTURE_ANALYSIS*, _ADDITIONAL_ITEM*, _UNIT_GROUP*, _UNIT*, _TYPICAL_TO_NEIGHBORHOOD*)>
<!ATTLIST STRUCTURE
	_ID ID #IMPLIED
	PropertyStructureBuiltYear CDATA #IMPLIED
	AgeYearsCount CDATA #IMPLIED
	BuildingCount CDATA #IMPLIED
	BuildingStatusType (Complete | Existing | Proposed | SubjectToAlteration | SubstantiallyRehabilitated | UnderConstruction | Incomplete | Other) #IMPLIED
	ElevatorCount CDATA #IMPLIED
	StoriesCount CDATA #IMPLIED
	_AppealDescription CDATA #IMPLIED
	StructureConfigurationType (Single | Duplex | Triplex | Fourplex | RowHouse | Attached | Detached | SemiDetached | Other) #IMPLIED
	StructureConfigurationTypeOtherDescription CDATA #IMPLIED
	_ConditionDescription CDATA #IMPLIED
	_ConstructionStatusDescription CDATA #IMPLIED
	_DesignDescription CDATA #IMPLIED
	PropertyStructureHabitableYearRoundIndicator (Y | N) #IMPLIED
	_HeatingCoolingMeteredSeparatelyIndicator (Y | N) #IMPLIED
	_HeatingCoolingMeteredSeparatelyDescription CDATA #IMPLIED
	ManufacturedHomeIndicator (Y | N) #IMPLIED
	_ManufacturedHousingDescription CDATA #IMPLIED
	_NeverOccupiedIndicator (Y | N) #IMPLIED
	_SingleFamilyResidenceIndicator (Y | N) #IMPLIED
	_StateDescription CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	_AccessoryUnitCount CDATA #IMPLIED
	GrossBuildingAreaSquareFeetCount CDATA #IMPLIED
	GrossLivingAreaSquareFeetCount CDATA #IMPLIED
	GrossLivingAreaSquareFeetDataSourceDescription CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	CharacteristicsAffectMarketabilityDescription CDATA #IMPLIED
	_AdditionsDescription CDATA #IMPLIED
	ExteriorInspectionSufficientIndicator (Y | N) #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	RentControlDescription CDATA #IMPLIED
	_InteriorFloorComment CDATA #IMPLIED
	_InteriorWallComment CDATA #IMPLIED
	StructureCategoryType (SingleFamily | Condominium | TwoToFourFamily | ManufacturedHome | MobileHome | Other) #IMPLIED
	StructureCategoryTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT SOLAR (#PCDATA)>
<!ATTLIST SOLAR
	_ID ID #IMPLIED
	_KilowattOutputDescription CDATA #IMPLIED
	_EquipmentDescription CDATA #IMPLIED
	_InverterDescription CDATA #IMPLIED
	_WaterheaterDescription CDATA #IMPLIED
	_WaterheaterIndicator (Y | N) #IMPLIED
	_WaterheaterTanklessIndicator (Y | N) #IMPLIED
	BorrowerRebateAmount CDATA #IMPLIED
	BuilderCostsAmount CDATA #IMPLIED
	MonthlySavingsAmount CDATA #IMPLIED
	CurrentInterestRate CDATA #IMPLIED
	TotalTermDescription CDATA #IMPLIED
	PresentValueAmount CDATA #IMPLIED
>
<!ELEMENT _OFF_SITE_IMPROVEMENT (#PCDATA)>
<!ATTLIST _OFF_SITE_IMPROVEMENT
	_ID ID #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Type (Alley | CurbGutter | Gated | Sidewalk | Street | StreetLighting | StreetSurface | StreetMaintenance | StreetAccess | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_OwnershipType (Public | Private | Unknown) #IMPLIED
>
<!ELEMENT SITE (SITE_FEATURE*, FLOOD_ZONE*, SITE_UTILITY*)>
<!ATTLIST SITE
	_ID ID #IMPLIED
	_Comment CDATA #IMPLIED
	CornerLotIndicator (Y | N) #IMPLIED
	DepthFeetCount CDATA #IMPLIED
	HighestBestUseIndicator (Y | N) #IMPLIED
	HighestBestUseDescription CDATA #IMPLIED
	PropertyAcreageNumber CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	_AdverseEasementsIndicator (Y | N) #IMPLIED
	_AdverseEasementsDescription CDATA #IMPLIED
	_AdverseEnvironmentalFactorsComment CDATA #IMPLIED
	_AreaDescription CDATA #IMPLIED
	_DimensionsDescription CDATA #IMPLIED
	_UndergroundUtilitiesIndicator (Y | N) #IMPLIED
	_ZoningComplianceType (Legal | Nonconforming | Illegal | NoZoning) #IMPLIED
	_ZoningComplianceDescription CDATA #IMPLIED
	_ZoningClassificationIdentifier CDATA #IMPLIED
	_ZoningClassificationDescription CDATA #IMPLIED
	_ZoningPermitRebuildToCurrentDensityIndicator (Y | N) #IMPLIED
	PropertyZoningCategoryType (Residential | Commercial | Industrial | Agricultural | NonResidentialGrandfatheredResidential | NoZoning | Other) #IMPLIED
	PropertyZoningCategoryTypeOtherDescription CDATA #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	CharacteristicsAffectMarketabilityDescription CDATA #IMPLIED
>
<!ELEMENT PROJECT (DEVELOPMENT_STAGE*, PROJECT_RATING*, PROJECT_CAR_STORAGE*, PROJECT_ANALYSIS*, _PER_UNIT_FEE*, _BLANKET_FINANCING*, _OCCUPANCY*)>
<!ATTLIST PROJECT
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CommonElementsDescription CDATA #IMPLIED
	_CommonElementsCompletedIndicator (Y | N) #IMPLIED
	_CommonElementsStatusDescription CDATA #IMPLIED
	_CommonElementsLeasedIndicator (Y | N) #IMPLIED
	_CommonElementsLeaseTermsDescription CDATA #IMPLIED
	_ConditionAndQualityDescription CDATA #IMPLIED
	_ContainsMultipleDwellingUnitsIndicator (Y | N) #IMPLIED
	_ContainsMultipleDwellingUnitsDataSourceDescription CDATA #IMPLIED
	_ConversionIndicator (Y | N) #IMPLIED
	_ConversionDate CDATA #IMPLIED
	_ConversionOriginalUseDescription CDATA #IMPLIED
	_ClassificationType (Condominium | Cooperative | PUD | Other) #IMPLIED
	_ClassificationTypeOtherDescription CDATA #IMPLIED
	_CurrentStatusDescription CDATA #IMPLIED
	_DesignType (TownhouseRowhouse | GardenProject | MidriseProject | HighriseProject | Attached | Detached | Other) #IMPLIED
	_DesignTypeOtherDescription CDATA #IMPLIED
	_DeveloperControlsProjectManagementIndicator (Y | N) #IMPLIED
	_DeveloperControlOfProjectManagementDescription CDATA #IMPLIED
	_ManagementType (HomeownersAssociation | Developer | CooperativeBoard | ManagementAgent | Other) #IMPLIED
	_ManagementTypeOtherDescription CDATA #IMPLIED
	_ManagementAgentName CDATA #IMPLIED
	_PhaseIdentifier CDATA #IMPLIED
	PropertyCurrentUsageType (PrimaryResidence | SecondHome | Investment | Tenant | Other) #IMPLIED
	_PrimaryOccupancyType (PrincipleResidence | SecondHome | Tenant) #IMPLIED
	_UnitDensityPerAcreCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	ElevatorCount CDATA #IMPLIED
	StoriesCount CDATA #IMPLIED
	_DataSourceType (ManagementAgency | CooperativeBoard | HomeownersAssociation | Developer | Other) #IMPLIED
	_DataSourceTypeOtherDescription CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	_ConcentratedOwnershipIndicator (Y | N) #IMPLIED
	_ConcentratedOwnershipDescription CDATA #IMPLIED
	_CommercialSpaceIndicator (Y | N) #IMPLIED
	CommercialSpaceDescription CDATA #IMPLIED
	_PartOfMasterAssociationIndicator (Y | N) #IMPLIED
	_PartOfMasterAssociationDescription CDATA #IMPLIED
	_TotalSharesCount CDATA #IMPLIED
	_PerUnitFinancingAmount CDATA #IMPLIED
	_PerUnitLienAmount CDATA #IMPLIED
	OwnersWithinProjectMoreThanTwoMonthsDelinquentCount CDATA #IMPLIED
	_DeveloperTransferConcessionsIndicator (Y | N) #IMPLIED
	_DeveloperTransferConcessionsDescription CDATA #IMPLIED
	_TaxAbatementsOrExemptionsIndicator (Y | N) #IMPLIED
	_TaxAbatementsOrExemptionsDescription CDATA #IMPLIED
	_StockTransferFeeIndicator (Y | N) #IMPLIED
	_StockTransferFeeDescription CDATA #IMPLIED
>
<!ELEMENT NEIGHBORHOOD (_HOUSING*, _TYPICAL_APARTMENT*, _PRESENT_LAND_USE*, NEIGHBORHOOD_FEATURE*, _ADVERSE_FEATURE*)>
<!ATTLIST NEIGHBORHOOD
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_BoundaryAndCharacteristicsDescription CDATA #IMPLIED
	_BuiltupRangeType (Over75Percent | 25To75Percent | Under25Percent) #IMPLIED
	_BuiltupEstimatedPercent CDATA #IMPLIED
	_DemandSupplyType (Shortage | InBalance | OverSupply) #IMPLIED
	_ExtendedMarketingTimeIndicator (Y | N) #IMPLIED
	_GrowthPaceType (FullyDeveloped | Rapid | Stable | Slow | Declining) #IMPLIED
	_LandUseChangeStatusType (Likely | NotLikely | InProcess) #IMPLIED
	_LandUseCurrentDescription CDATA #IMPLIED
	_LandUseFutureDescription CDATA #IMPLIED
	PropertyNeighborhoodLocationType (Urban | Suburban | Rural) #IMPLIED
	PropertyNeighborhoodLocationTypeOtherDescription CDATA #IMPLIED
	_PotentialManufacturedHomeParkDescription CDATA #IMPLIED
	_MarketabilityFactorsDescription CDATA #IMPLIED
	_MarketConditionsDescription CDATA #IMPLIED
	_StreetMeetsStandardsIndicator (Y | N) #IMPLIED
	_PropertyValueTrendType (Increasing | Stable | Declining) #IMPLIED
	_TypicalMarketingTimeDurationType (UnderThreeMonths | ThreeToSixMonths | OverSixMonths | Other) #IMPLIED
	_PredominantOccupancyType (Owner | Tenant) #IMPLIED
	_OwnerOccupancyPercent CDATA #IMPLIED
	_TenantOccupancyPercent CDATA #IMPLIED
	_PercentageVacancyType (VacantZeroToFivePercent | VacantOverFivePercent) #IMPLIED
	_VacancyPercent CDATA #IMPLIED
	_AcceptanceOfCooperativeOwnershipIndicator (Y | N) #IMPLIED
	_AcceptabilityOfCooperativeOwnershipDescription CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	AdverseMarketConditionsIndicator (Y | N) #IMPLIED
	_PropertyValueAnnualChangePercent CDATA #IMPLIED
	_TypicalMarketingTimeDurationTypeOtherDescription CDATA #IMPLIED
	_PropertyTypicalMarketingDaysCount CDATA #IMPLIED
	_PropertyValueTrendPercentage CDATA #IMPLIED
	SalesPriceToListPriceRate CDATA #IMPLIED
>
<!ELEMENT _TITLE_TRANSFER_INSPECTION (#PCDATA)>
<!ATTLIST _TITLE_TRANSFER_INSPECTION
	_ID ID #IMPLIED
	_RequiredIndicator (Y | N) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _TAX (_SPECIAL*, _EXEMPTION*)>
<!ATTLIST _TAX
	_ID ID #IMPLIED
	_AssessmentStartYear CDATA #IMPLIED
	_AssessmentEndYear CDATA #IMPLIED
	_CertificateDate CDATA #IMPLIED
	_CountyRateAreaIdentifier CDATA #IMPLIED
	_ExemptionIndicator (Y | N) #IMPLIED
	_ImprovementValueAmount CDATA #IMPLIED
	_LandValueAmount CDATA #IMPLIED
	_TotalAssessedValueAmount CDATA #IMPLIED
	_TotalTaxableValueAmount CDATA #IMPLIED
	_TotalTaxAmount CDATA #IMPLIED
	_TotalSpecialTaxAmount CDATA #IMPLIED
	_ToValueRate CDATA #IMPLIED
	_TypicalTaxIndicator (Y | N) #IMPLIED
	_AtypicalComment CDATA #IMPLIED
	_YearIdentifier CDATA #IMPLIED
	_EndYear CDATA #IMPLIED
>
<!ELEMENT SALES_HISTORY (#PCDATA)>
<!ATTLIST SALES_HISTORY
	_ID ID #IMPLIED
	_Type (Last | FirstPrior | SecondPrior | ThirdPrior | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	DownPaymentAmount CDATA #IMPLIED
	LenderUnparsedName CDATA #IMPLIED
	LoanTermDescription CDATA #IMPLIED
	LoanOriginalMaturityTermMonths CDATA #IMPLIED
	PricePerSquareFootAmount CDATA #IMPLIED
	PropertySalesDate CDATA #IMPLIED
	PropertySalesAmount CDATA #IMPLIED
	_AnalysisOfAgreementDescription CDATA #IMPLIED
	RecordedDocumentType (Assignment | BargainAndSaleDeed | BlanketAssignment | DeedOfTrust | ModificationAgreementOrConsolidationAgreements | Mortgage | PartialSatisfactionOfLien | QuitClaimDeed | Reconveyance | Riders | SatisfactionOfLien | SubordinateLienAgreement | WarrantyDeed | Other) #IMPLIED
	RecordedDocumentTypeOtherDescription CDATA #IMPLIED
	RecordedDocumentIdentifier CDATA #IMPLIED
	_ParcelSplitDescription CDATA #IMPLIED
	_PendingRecordIndicator (Y | N) #IMPLIED
	_StampAmount CDATA #IMPLIED
	_TransferredOwnershipPercent CDATA #IMPLIED
	SalesConcessionAmount CDATA #IMPLIED
	SalesConcessionDescription CDATA #IMPLIED
	SellingRealEstateAgencyName CDATA #IMPLIED
	SellerUnparsedName CDATA #IMPLIED
	TitleCompanyName CDATA #IMPLIED
>
<!ELEMENT LISTING_HISTORY (PRIOR_LISTING*)>
<!ATTLIST LISTING_HISTORY
	_ID ID #IMPLIED
	CurrentlyListedIndicator (Y | N) #IMPLIED
	CurrentListPriceAmount CDATA #IMPLIED
	DaysOnMarketCount CDATA #IMPLIED
	ListPriceChangesCount CDATA #IMPLIED
	OriginalListPriceAmount CDATA #IMPLIED
	LastListPriceRevisionDate CDATA #IMPLIED
	ListedWithinPreviousYearIndicator (Y | N) #IMPLIED
	ListedWithinPreviousYearDescription CDATA #IMPLIED
	CurrentlyListedDataSourceDescription CDATA #IMPLIED
	ListedWithinPreviousYearDataSourceDescription CDATA #IMPLIED
>
<!ELEMENT PROPERTY_ANALYSIS (#PCDATA)>
<!ATTLIST PROPERTY_ANALYSIS
	_ID ID #IMPLIED
	_Type (AdditionalFeatures | AdverseEnvironmentalFactors | Depreciation | QualityAndAppearance | ConformsToNeighborhood | AdversePhysicalDeficiencies | AdverseConditions | AdverseSiteConditions | UtilitiesAndOffSiteImprovementsConformToNeighborhood | ConformsToNeighborhoodInTermsOfSizeAndShape | ExternalObsolescence | HazardousWaste | AdequateIngress | UndergoingRemodeling | AtypicalFunctionalObsolescence | AppearsToBeSingleFamily | PhysicalDeficiency | PropertyCondition | NoAdverseFactors | HasFactorsRequiringAppraisal | HasAdverseFactorsRequiringAppraisal | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _OWNER (CONTACT_DETAIL*)>
<!ATTLIST _OWNER
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
>
<!ELEMENT SALES_CONTRACT (#PCDATA)>
<!ATTLIST SALES_CONTRACT
	_ID ID #IMPLIED
	_Date CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_ConditionsOfSaleDescription CDATA #IMPLIED
	_ReviewedIndicator (Y | N) #IMPLIED
	_ReviewComment CDATA #IMPLIED
	_TermsAndConditionsConsistentWithTheLocalMarketIndicator (Y | N) #IMPLIED
	SellerIsOwnerIndicator (Y | N) #IMPLIED
	SalesConcessionIndicator (Y | N) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	SalesConcessionAmount CDATA #IMPLIED
	SalesConcessionDescription CDATA #IMPLIED
	_RetailerName CDATA #IMPLIED
	_InvoiceReviewedIndicator (Y | N) #IMPLIED
	_InvoiceReviewComment CDATA #IMPLIED
>
<!ELEMENT COST_ANALYSIS (NEW_IMPROVEMENT*, DEPRECIATION*, DATA_IDENTIFICATION*)>
<!ATTLIST COST_ANALYSIS
	_ID ID #IMPLIED
	_Type (Reproduction | Replacement | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	SiteEstimatedValueAmount CDATA #IMPLIED
	SiteEstimatedValueComment CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	DataSourceEffectiveDate CDATA #IMPLIED
	CostServiceQualityRatingDescription CDATA #IMPLIED
	NewImprovementTotalCostAmount CDATA #IMPLIED
	NewImprovementCostMultiplierFactor CDATA #IMPLIED
	NewImprovementCostLocalizedAmount CDATA #IMPLIED
	NewImprovementDepreciatedCostAmount CDATA #IMPLIED
	SiteOtherImprovementsAsIsAmount CDATA #IMPLIED
	ManufacturedHomeInstallationCostAmount CDATA #IMPLIED
	EstimatedRemainingEconomicLifeYearsCount CDATA #IMPLIED
	ValueIndicatedByCostApproachAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT SALES_COMPARISON (OTHER_FEATURE*, RESEARCH*, COMPARABLE_SALE*)>
<!ATTLIST SALES_COMPARISON
	_ID ID #IMPLIED
	ValueIndicatedBySalesComparisonApproachAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
	_CurrentSalesAgreementAnalysisComment CDATA #IMPLIED
	_UnitOfMeasureDescription CDATA #IMPLIED
	_ValuePerUnitAmount CDATA #IMPLIED
	_TotalUnitValueAmount CDATA #IMPLIED
	_ValuePerRoomAmount CDATA #IMPLIED
	_TotalRoomValueAmount CDATA #IMPLIED
	_ValuePerBedroomAmount CDATA #IMPLIED
	_TotalBedroomValueAmount CDATA #IMPLIED
	_ValuePerGrossBuildingAreaAmount CDATA #IMPLIED
	_TotalGrossBuildingAreaValueAmount CDATA #IMPLIED
	_TotalUnitCount CDATA #IMPLIED
>
<!ELEMENT INCOME_ANALYSIS (RESIDENTIAL_RENT_SCHEDULE*, MULTIFAMILY_RENT_SCHEDULE*, MULTIFAMILY_RENTALS*, OPERATING_INCOME*, OPERATING_EXPENSE*, ADDITIONAL_OPERATING_EXPENSE*, OPERATING_RESERVE*, OPERATING_CASH_FLOW*)>
<!ATTLIST INCOME_ANALYSIS
	_ID ID #IMPLIED
	EstimatedMarketMonthlyRentAmount CDATA #IMPLIED
	GrossRentMultiplierFactor CDATA #IMPLIED
	ValueIndicatedByIncomeApproachAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT PRICE_FORECASTING (COMPETITIVE_LISTINGS*)>
<!ATTLIST PRICE_FORECASTING
	_ID ID #IMPLIED
	MarketTrendsAdverseFinancingIndicator (Y | N) #IMPLIED
	MarketTrendsHistoricPricesType (Increasing | Stable | Decreasing) #IMPLIED
	MarketTrendsForeclosureActivityIndicator (Y | N) #IMPLIED
	MarketTrendsInterestRatesType (Increasing | Stable | Decreasing) #IMPLIED
	MarketTrendsSalesActivityType (Increasing | Stable | Decreasing) #IMPLIED
	NeighborhoodPropertyValueTrendType (Increasing | Stable | Declining) #IMPLIED
	NeighborhoodDemandSupplyType (Shortage | InBalance | OverSupply) #IMPLIED
	NeighborhoodTypicalMarketingMonthsDurationType (OverSixMonths | ThreeToSixMonths | UnderThreeMonths) #IMPLIED
	NeighborhoodTypicalMarketingDaysDurationType (Under30Days | 30To120Days | Over120Days) #IMPLIED
	PropertyTypicalMarketingDaysDurationType (Under30Days | 30To120Days | Over120Days) #IMPLIED
	MarketTrendsHistoricAnalysisComment CDATA #IMPLIED
	MarketTrendsReconciliationComment CDATA #IMPLIED
>
<!ELEMENT NORMAL_EXPOSURE (#PCDATA)>
<!ATTLIST NORMAL_EXPOSURE
	_ID ID #IMPLIED
	PropertyConditionOfAppraisalType (AsIs | SubjectToRepairs | SubjectToCompletion | SubjectToInspections | Other) #IMPLIED
	PropertyConditionOfAppraisalTypeOtherDescription CDATA #IMPLIED
	DaysOnMarketCount CDATA #IMPLIED
	PropertyForecastedSalePriceAmount CDATA #IMPLIED
>
<!ELEMENT EXTENDED_EXPOSURE (#PCDATA)>
<!ATTLIST EXTENDED_EXPOSURE
	_ID ID #IMPLIED
	PropertyConditionOfAppraisalType (AsIs | SubjectToRepairs | SubjectToCompletion | SubjectToInspections | Other) #IMPLIED
	PropertyConditionOfAppraisalTypeOtherDescription CDATA #IMPLIED
	DaysOnMarketCount CDATA #IMPLIED
	PropertyForecastedSalePriceAmount CDATA #IMPLIED
>
<!ELEMENT _RECONCILIATION (REPAIRS*)>
<!ATTLIST _RECONCILIATION
	_ID ID #IMPLIED
	PropertyConditionOfAppraisalType (AsIs | SubjectToRepairs | SubjectToCompletion | SubjectToInspections | Other) #IMPLIED
	ForeclosuresUsedIndicator (Y | N) #IMPLIED
	ForeclosureUsageComment CDATA #IMPLIED
	PropertyConditionOfAppraisalTypeOtherDescription CDATA #IMPLIED
	_ConditionsComment CDATA #IMPLIED
	_SummaryComment CDATA #IMPLIED
	MarketDataComment CDATA #IMPLIED
>
<!ELEMENT ORIGINAL_LENDER (LENDER*)>
<!ELEMENT ORIGINAL_APPRAISER (APPRAISER*)>
<!ELEMENT ORIGINAL_APPRAISAL (#PCDATA)>
<!ATTLIST ORIGINAL_APPRAISAL
	AppraisalEffectiveDate CDATA #IMPLIED
	PropertyAppraisedValueAmount CDATA #IMPLIED
>
<!ELEMENT _CATEGORY (#PCDATA)>
<!ATTLIST _CATEGORY
	_ID ID #IMPLIED
	_Type (AddendaRequired | ComparableRentals | ComparablesSimilar | Contract | CostAndIncome | DataAnalysis | Descriptions | Improvements | MarketRent | Neighborhood | RentSchedule | Subject | Site | TransferHistory | ValueIndicators | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_AccuracyType (Accurate | NotAccurate | NotApplicable | NotDeveloped) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT ADJUSTMENT_RATIO (#PCDATA)>
<!ATTLIST ADJUSTMENT_RATIO
	PropertySequenceIdentifier CDATA #IMPLIED
	_ID ID #IMPLIED
	SalesPriceTotalAdjustmentNetPercent CDATA #IMPLIED
	SalesPriceTotalAdjustmentGrossPercent CDATA #IMPLIED
>
<!ELEMENT APPRAISAL_INFORMATION_RATING (#PCDATA)>
<!ATTLIST APPRAISAL_INFORMATION_RATING
	AppraisalInformationType (LegalDescription | CensusTract | Neighborhood | Site | Improvements | SubjectUnit | Contract | CommentSection | PhysicalDepreciation | FunctionalDepreciation | ExtrenalDepreciation | LandValueRatio | Adjustments | CostComments | DocumentIdentification | LocationAdjustments | SiteAdjustments | QualityAndAppeal | ConditionAdjustment | RoomCountAdjustment | AmenitiesAdjustment | Calculations | AnalysisComments | NetAdjustments | GrossAdjustments | ComparableData | IncomeApproach | ProjectAddenda | PlatMap | Sketch | ComparableMap | PhotoPages | LimitingConditions | PurchaseAgreement | OriginalSignature | CompletionCertificate | Permits | IncompleteUnits | PresaleRequirements | ProjectSalesNeeded | OutOfProjectSalesNeeded | AddendumA | AddendumB | RentalSurvey | OperatingIncome | Other) #IMPLIED
	AppraisalInformationTypeOtherDescription CDATA #IMPLIED
	_Type (Acceptable | Unacceptable | NotApply) #IMPLIED
>
<!ELEMENT CONSTRUCTION_COMPLIANCE (#PCDATA)>
<!ATTLIST CONSTRUCTION_COMPLIANCE
	_ID ID #IMPLIED
	_Indicator (Y | N) #IMPLIED
	_Type (StartedPriorToApproval | DifferentBuilder | CannotInspect | ExhibitsNotAvailable | IndividualSewageSystem | IndividualWaterSystem | CompliantSystem | CorrectionEssential | SubmitHealthLetter | CorrectionRequiredNotCompleted | RepairsNotCompleted | SystemCorrection | WillExamineNextInspection | DoNotConceal | ComplianceObserved | AcceptableVariation | ExtensiveNonCompliance | OnSiteCompletedSubjectToCertification | OnSiteCompletedWithExceptions | OnSiteCompletedAcceptably | OffSiteImprovementIssues | OffSiteCompletionEssential | OffSiteCompletionAssured | OffSiteAcceptablyCompleted) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	InspectionDate CDATA #IMPLIED
>
<!ELEMENT CONSTRUCTION_ISSUE (#PCDATA)>
<!ATTLIST CONSTRUCTION_ISSUE
	_SequenceIdentifier CDATA #IMPLIED
	_ID ID #IMPLIED
	_Identifier CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT IMAGE (EMBEDDED_FILE*, REFERENCED_FILE*)>
<!ATTLIST IMAGE
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	_Name CDATA #IMPLIED
	_CaptionComment CDATA #IMPLIED
>
<!ELEMENT COMMENT (#PCDATA)>
<!ATTLIST COMMENT
	_ID ID #IMPLIED
	AppraisalAddendumTextIdentifier CDATA #IMPLIED
	AppraisalAddendumText CDATA #IMPLIED
>
<!ELEMENT SIGNERS (APPRAISER*, SUPERVISOR*, REVIEW_APPRAISER*)>
<!ELEMENT DOCUMENT (#PCDATA)>
<!ELEMENT CONTACT_DETAIL (CONTACT_POINT*)>
<!ATTLIST CONTACT_DETAIL
	_Name CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	_FirstName CDATA #IMPLIED
	_LastName CDATA #IMPLIED
	_MiddleName CDATA #IMPLIED
	_NameSuffix CDATA #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_ID ID #IMPLIED
>
<!ELEMENT REAL_ESTATE_AGENT_LICENSE (#PCDATA)>
<!ATTLIST REAL_ESTATE_AGENT_LICENSE
	_ID ID #IMPLIED
	_Identifier CDATA #IMPLIED
	_ExpirationDate CDATA #IMPLIED
	_State CDATA #IMPLIED
	_Type (Certificate | License | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT PLATTED_LAND (#PCDATA)>
<!ATTLIST PLATTED_LAND
	_ID ID #IMPLIED
	PropertyLotIdentifier CDATA #IMPLIED
	PropertyBlockIdentifier CDATA #IMPLIED
	PropertySectionIdentifier CDATA #IMPLIED
	PropertySubdivisionIdentifier CDATA #IMPLIED
	PropertyTractIdentifier CDATA #IMPLIED
	PlatName CDATA #IMPLIED
	_BuildingIdentifier CDATA #IMPLIED
	_PlatCodeIdentifier CDATA #IMPLIED
	_PlatInstrumentIdentifier CDATA #IMPLIED
	_UnitNumberIdentifier CDATA #IMPLIED
	RecordedDocumentBook CDATA #IMPLIED
	RecordedDocumentPage CDATA #IMPLIED
>
<!ELEMENT UNPLATTED_LAND (#PCDATA)>
<!ATTLIST UNPLATTED_LAND
	_ID ID #IMPLIED
	_DescriptionType (GovernmentSurvey | MetesAndBounds | Other) #IMPLIED
	_DescriptionTypeOtherDescription CDATA #IMPLIED
	PropertyTownshipIdentifier CDATA #IMPLIED
	PropertyRangeIdentifier CDATA #IMPLIED
	PropertySectionIdentifier CDATA #IMPLIED
	_AbstractNumberIdentifier CDATA #IMPLIED
	_BaseIdentifier CDATA #IMPLIED
	_LandGrantIdentifier CDATA #IMPLIED
	_MeridianIdentifier CDATA #IMPLIED
	_MetesAndBoundsRemainingDescription CDATA #IMPLIED
	_QuarterSectionIdentifier CDATA #IMPLIED
>
<!ELEMENT PARCEL_IDENTIFICATION (#PCDATA)>
<!ATTLIST PARCEL_IDENTIFICATION
	_ID ID #IMPLIED
	_Type (ParcelIdentificationNumber | TaxMapIdentifier | TaxParcelIdentifier | AssessorUnformattedIdentifier | TorrensCertificateIdentifier | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
>
<!ELEMENT STRUCTURE_DATA_SOURCE (#PCDATA)>
<!ATTLIST STRUCTURE_DATA_SOURCE
	_ID ID #IMPLIED
	DataSourceType (InteriorExteriorInspection | ExteriorInspectionOnly | PreviousAppraisalFile | ThirdPartyAppraisalReport | Lender | LocalNewsPaper | MultipleListingService | AssessmentAndTaxRecords | PriorInspection | PropertyOwner | Other) #IMPLIED
	DataSourceTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT EXTERIOR_FEATURE (#PCDATA)>
<!ATTLIST EXTERIOR_FEATURE
	_ID ID #IMPLIED
	_Type (Foundation | Walls | RoofSurface | GuttersAndDownspouts | WindowType | WindowStormSash | WindowScreens | WindowInsulation | WindowCombination | Doors | Skirting | Condition | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT MANUFACTURED_HOME (_SECTION*, _QUALITY*)>
<!ATTLIST MANUFACTURED_HOME
	_ID ID #IMPLIED
	LengthFeetCount CDATA #IMPLIED
	_DeckDescription CDATA #IMPLIED
	_MakeIdentifier CDATA #IMPLIED
	_ModelIdentifier CDATA #IMPLIED
	_ModelYear CDATA #IMPLIED
	_ManufacturedDate CDATA #IMPLIED
	_PorchDescription CDATA #IMPLIED
	_SerialNumberIdentifier CDATA #IMPLIED
	_HUDCertificationLabelIdentifier CDATA #IMPLIED
	_TipOutDescription CDATA #IMPLIED
	_WaniganDescription CDATA #IMPLIED
	_WidthType (SingleWide | MultiWide) #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	_SectionCount CDATA #IMPLIED
	_ModificationsDescription CDATA #IMPLIED
	_InstallerName CDATA #IMPLIED
	_InstalledDate CDATA #IMPLIED
	_AttachedToFoundationIndicator (Y | N) #IMPLIED
	_AttachedToFoundationDescription CDATA #IMPLIED
	_WheelsRemovedIndicator (Y | N) #IMPLIED
	_WheelsDescription CDATA #IMPLIED
	_ConnectedToUtilitiesIndicator (Y | N) #IMPLIED
	_ConnectionToUtilitiesDescription CDATA #IMPLIED
	_InteriorSpaceAcceptableToMarketIndicator (Y | N) #IMPLIED
	_InteriorSpaceAcceptabilityToMarketDescription CDATA #IMPLIED
	_HUDDataPlateAttachedIndicator (Y | N) #IMPLIED
	_HUDDataPlateDataSourceDescription CDATA #IMPLIED
	_HUDCertificationLabelAttachedIndicator (Y | N) #IMPLIED
	_HUDCertificationLabelDataSourceDescription CDATA #IMPLIED
	_MeetsHUDRequirementsForLocationIndicator (Y | N) #IMPLIED
	_MeetsHUDRequirementsForLocationDescription CDATA #IMPLIED
>
<!ELEMENT FOUNDATION (FOUNDATION_CONDITION*)>
<!ATTLIST FOUNDATION
	_ID ID #IMPLIED
	_Type (Slab | Crawlspace | Basement | PartialBasement | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_ConditionDescription CDATA #IMPLIED
	_MaterialType (PouredConcrete | ConcreteRunners | BlockAndPier | Other) #IMPLIED
	_MaterialTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT FOUNDATION_FEATURE (#PCDATA)>
<!ATTLIST FOUNDATION_FEATURE
	_ID ID #IMPLIED
	_Type (SumpPump | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_DetailDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT BASEMENT (BASEMENT_FEATURE*, ROOM_TYPE_SUMMARY*)>
<!ATTLIST BASEMENT
	_ID ID #IMPLIED
	_CeilingMaterialDescription CDATA #IMPLIED
	_FinishedPercent CDATA #IMPLIED
	_FinishDescription CDATA #IMPLIED
	_FinishedIndicator (Y | N) #IMPLIED
	_FirstFloorAreaPercent CDATA #IMPLIED
	_FloorMaterialDescription CDATA #IMPLIED
	_WallMaterialDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT INSULATION (_AREA*, _ABSENCE*)>
<!ATTLIST INSULATION
	_ID ID #IMPLIED
	_Comment CDATA #IMPLIED
	EnergyEfficientItemsDescription CDATA #IMPLIED
>
<!ELEMENT LEVEL (ROOM_TYPE_SUMMARY*)>
<!ATTLIST LEVEL
	_ID ID #IMPLIED
	_Type (Basement | LevelOne | LevelTwo | LevelThree | LevelFour | LevelFive | Attic | Other | OtherTwo) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	SquareFeetPerUnitCount CDATA #IMPLIED
>
<!ELEMENT INTERIOR_FEATURE (WALL_MATERIAL*, FLOOR_COVERING*)>
<!ATTLIST INTERIOR_FEATURE
	_ID ID #IMPLIED
	_Type (Floors | Walls | TrimAndFinish | BathroomWainscot | BathroomFloors | Doors | Appliances | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ConditionDescription CDATA #IMPLIED
>
<!ELEMENT FLOOR_COVERING (#PCDATA)>
<!ATTLIST FLOOR_COVERING
	_ID ID #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Type (Carpet | Vinyl | CeramicTile | Hardwood | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT HEATING (#PCDATA)>
<!ATTLIST HEATING
	_ID ID #IMPLIED
	_Type (ForcedWarmAir | HotWaterBaseboard | Radiant | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_AdditionalUnitDescription CDATA #IMPLIED
	_AdditionalUnitName CDATA #IMPLIED
	_UnitConditionDescription CDATA #IMPLIED
	_FuelDescription CDATA #IMPLIED
	_UnitDescription CDATA #IMPLIED
>
<!ELEMENT COOLING (#PCDATA)>
<!ATTLIST COOLING
	_ID ID #IMPLIED
	AdequateIndicator (Y | N) #IMPLIED
	_AdditionalUnitDescription CDATA #IMPLIED
	_AdditionalUnitName CDATA #IMPLIED
	_CentralizedIndicator (Y | N) #IMPLIED
	_IndividualIndicator (Y | N) #IMPLIED
	_OtherIndicator (Y | N) #IMPLIED
	_UnitDescription CDATA #IMPLIED
	_UnitConditionDescription CDATA #IMPLIED
>
<!ELEMENT KITCHEN_EQUIPMENT (#PCDATA)>
<!ATTLIST KITCHEN_EQUIPMENT
	_ID ID #IMPLIED
	_Type (Refrigerator | RangeOven | Cooktop | Disposal | Dishwasher | Compactor | FanHood | Microwave | WasherDryer | StandAloneOven | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Count CDATA #IMPLIED
>
<!ELEMENT ATTIC (ATTIC_FEATURE*, LEVEL*)>
<!ATTLIST ATTIC
	_ID ID #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT AMENITY (FLOOR_COVERING*)>
<!ATTLIST AMENITY
	_ID ID #IMPLIED
	_Type (Fireplace | SecuritySystem | Intercom | JettedTub | Patio | Deck | Balcony | Porch | Fence | Spa | Pool | WoodStove | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Count CDATA #IMPLIED
	_DetailedDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT CAR_STORAGE (CAR_STORAGE_LOCATION*)>
<!ATTLIST CAR_STORAGE
	_ID ID #IMPLIED
	AdequateIndicator (Y | N) #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	GuestParkingSpacesCount CDATA #IMPLIED
	ParkingSpacesCount CDATA #IMPLIED
	ParkingSpaceIdentifier CDATA #IMPLIED
	ParkingSpaceAssignmentType (Assigned | Owned | Other) #IMPLIED
	ParkingSpaceAssignmentTypeOtherDescription CDATA #IMPLIED
	_AttachmentType (Attached | Detached | BuiltIn) #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS (STRUCTURE_ANALYSIS_RATING*)>
<!ATTLIST STRUCTURE_ANALYSIS
	_ID ID #IMPLIED
	EffectiveAgeRangeHighYearsCount CDATA #IMPLIED
	EffectiveAgeRangeLowYearsCount CDATA #IMPLIED
	EffectiveAgeYearsCount CDATA #IMPLIED
	RemainingEconomicLifeRangeHighYearsCount CDATA #IMPLIED
	RemainingEconomicLifeRangeLowYearsCount CDATA #IMPLIED
>
<!ELEMENT _ADDITIONAL_ITEM (#PCDATA)>
<!ATTLIST _ADDITIONAL_ITEM
	_ID ID #IMPLIED
	StructureAdditionalGeneralItemName CDATA #IMPLIED
	StructureAdditionalGeneralItemDescription CDATA #IMPLIED
>
<!ELEMENT _UNIT_GROUP (ROOM_TYPE_SUMMARY*)>
<!ATTLIST _UNIT_GROUP
	_ID ID #IMPLIED
	UnitType (UnitOne | UnitTwo | UnitThree | UnitFour | UnitFive | UnitSix) #IMPLIED
	LevelCount CDATA #IMPLIED
	GrossLivingAreaSquareFeetCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	SquareFeetPerUnitCount CDATA #IMPLIED
>
<!ELEMENT _UNIT (#PCDATA)>
<!ATTLIST _UNIT
	_ID ID #IMPLIED
	UnitIdentifier CDATA #IMPLIED
	LevelCount CDATA #IMPLIED
	FloorIdentifier CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	AgeYearsCount CDATA #IMPLIED
	EffectiveAgeYearsCount CDATA #IMPLIED
	ExteriorWallsDescription CDATA #IMPLIED
	RoofSurfaceDescription CDATA #IMPLIED
	AdditionalImprovementName CDATA #IMPLIED
	AdditionalImprovementDescription CDATA #IMPLIED
	_SharesCount CDATA #IMPLIED
>
<!ELEMENT _TYPICAL_TO_NEIGHBORHOOD (#PCDATA)>
<!ATTLIST _TYPICAL_TO_NEIGHBORHOOD
	_ID ID #IMPLIED
	StructureFeatureType (Overall | MaterialAndConstruction | Design | Appeal | View | Age | GrossLivingArea | Utilities | LotSize | LotShapeAndTopography | Other) #IMPLIED
	StructureFeatureTypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_AtypicalDescription CDATA #IMPLIED
>
<!ELEMENT SITE_FEATURE (#PCDATA)>
<!ATTLIST SITE_FEATURE
	_ID ID #IMPLIED
	_Type (Topography | Size | Shape | Drainage | Density | View | Landscaping | Driveway | ApparentEasement | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT FLOOD_ZONE (#PCDATA)>
<!ATTLIST FLOOD_ZONE
	_ID ID #IMPLIED
	NFIPFloodZoneIdentifier CDATA #IMPLIED
	NFIPMapIdentifier CDATA #IMPLIED
	NFIPMapPanelDate CDATA #IMPLIED
	NFIPCommunityName CDATA #IMPLIED
	SpecialFloodHazardAreaIndicator (Y | N) #IMPLIED
>
<!ELEMENT SITE_UTILITY (#PCDATA)>
<!ATTLIST SITE_UTILITY
	_ID ID #IMPLIED
	_Type (Electricity | Gas | Water | SanitarySewer | StormSewer | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_PublicIndicator (Y | N) #IMPLIED
	_NonPublicIndicator (Y | N) #IMPLIED
	_NonPublicDescription CDATA #IMPLIED
>
<!ELEMENT DEVELOPMENT_STAGE (#PCDATA)>
<!ATTLIST DEVELOPMENT_STAGE
	_ID ID #IMPLIED
	_Type (Complete | Incomplete | SubjectPhase) #IMPLIED
	_Description CDATA #IMPLIED
	_TotalPhasesCount CDATA #IMPLIED
	CompletedUnitsCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	SolarUnitsCount CDATA #IMPLIED
	NonSolarUnitsCount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	PlannedUnitsCount CDATA #IMPLIED
	UnitsForSaleCount CDATA #IMPLIED
	UnitsSoldCount CDATA #IMPLIED
	SolarUnitsSoldCount CDATA #IMPLIED
	NonSolarUnitsSoldCount CDATA #IMPLIED
	UnitsRentedCount CDATA #IMPLIED
	OwnerOccupiedUnitCount CDATA #IMPLIED
>
<!ELEMENT PROJECT_RATING (#PCDATA)>
<!ATTLIST PROJECT_RATING
	_ID ID #IMPLIED
	ProjectAspectType (Location | GeneralAppearance | AmenityAndRecreationalFacilities | Density | UnitMix | QualityOfConstruction | ConditionOfExterior | ConditionOfInterior | AppealToMarket | Other) #IMPLIED
	ProjectAspectTypeOtherDescription CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT PROJECT_CAR_STORAGE (CAR_STORAGE_LOCATION*)>
<!ATTLIST PROJECT_CAR_STORAGE
	_ID ID #IMPLIED
	AdequateIndicator (Y | N) #IMPLIED
	_AdequacyEffectOnMarketabilityDescription CDATA #IMPLIED
	GuestParkingIndicator (Y | N) #IMPLIED
	GuestParkingSpacesCount CDATA #IMPLIED
	ParkingSpacesCount CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_SpacesToUnitsRatioNumber CDATA #IMPLIED
>
<!ELEMENT PROJECT_ANALYSIS (UNIT_CHARGE*)>
<!ATTLIST PROJECT_ANALYSIS
	_ID ID #IMPLIED
	_BudgetAnalyzedIndicator (Y | N) #IMPLIED
	_BudgetAnalysisComment CDATA #IMPLIED
	_AdequacyOfBudgetType (Adequate | Inadequate | Unknown) #IMPLIED
	_AdequacyOfManagementType (Adequate | Inadequate | Unknown) #IMPLIED
	_CharacteristicsAffectMarketabilityIndicator (Y | N) #IMPLIED
	CharacteristicsAffectMarketabilityDescription CDATA #IMPLIED
	_GroundRentAmount CDATA #IMPLIED
	_GroundRentIndicator (Y | N) #IMPLIED
	_GroundRentDescription CDATA #IMPLIED
	_AdditionalFacilitiesFeeIndicator (Y | N) #IMPLIED
	_AdditionalFacilitiesFeeAmount CDATA #IMPLIED
	_AdditionalFacilitiesFeeDescription CDATA #IMPLIED
	_UnitChargesIncludeUtilitiesIndicator (Y | N) #IMPLIED
	_UnitChargesDoNotIncludeUtilitiesComment CDATA #IMPLIED
	_UnitChargesRatingType (High | Typical | Low) #IMPLIED
	_CompetitiveProjectComparisonType (High | Average | Low) #IMPLIED
	_CompetitiveProjectComparisonDescription CDATA #IMPLIED
	_SpecialCharacteristicsIndicator (Y | N) #IMPLIED
	_SpecialCharacteristicsDescription CDATA #IMPLIED
>
<!ELEMENT _PER_UNIT_FEE (#PCDATA)>
<!ATTLIST _PER_UNIT_FEE
	_ID ID #IMPLIED
	_PeriodType (Annually | Biweekly | Daily | Monthly | Quarterly | Semiannually | Semimonthly | Weekly) #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT _BLANKET_FINANCING (#PCDATA)>
<!ATTLIST _BLANKET_FINANCING
	_ID ID #IMPLIED
	LienPriorityType (FirstLien | FourthLien | Other | SecondLien | ThirdLien) #IMPLIED
	LienPriorityTypeOtherDescription CDATA #IMPLIED
	LienDescription CDATA #IMPLIED
	LiabilityUnpaidBalanceAmount CDATA #IMPLIED
	BalloonIndicator (Y | N) #IMPLIED
	RemainingTermDescription CDATA #IMPLIED
	LiabilityMonthlyPaymentAmount CDATA #IMPLIED
	CurrentInterestRate CDATA #IMPLIED
	LoanAmortizationType (AdjustableRate | DailySimpleInterest | Fixed | GraduatedPaymentARM | GraduatedPaymentMortgage | GrowingEquityMortgage | OtherAmortizationType | RateImprovementMortgage | ReverseMortgage | Ruleof78s | Step) #IMPLIED
	LoanAmortizationTypeOtherDescription CDATA #IMPLIED
	LienHolderName CDATA #IMPLIED
>
<!ELEMENT _OCCUPANCY (#PCDATA)>
<!ATTLIST _OCCUPANCY
	_ID ID #IMPLIED
	_Type (OwnerOccupied | DeveloperVacant | DeveloperTenantMarketRent | DeveloperTenantRegulatedRent | InvestorVacant | InvestorTenantMarketRent | InvestorTenantRegulatedRent | Total) #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	_Percent CDATA #IMPLIED
>
<!ELEMENT _HOUSING (#PCDATA)>
<!ATTLIST _HOUSING
	_ID ID #IMPLIED
	_Type (SingleFamily | TwoToFourFamily | Condominium | ManufacturedHome | Cooperative | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_OldestYearsCount CDATA #IMPLIED
	_NewestYearsCount CDATA #IMPLIED
	_HighPriceAmount CDATA #IMPLIED
	_LowPriceAmount CDATA #IMPLIED
	_PredominantAgeYearsCount CDATA #IMPLIED
	_PredominantPriceAmount CDATA #IMPLIED
	_PredominantOccupancyType (Owner | Tenant) #IMPLIED
	_OwnerOccupancyPercent CDATA #IMPLIED
	_TenantOccupancyPercent CDATA #IMPLIED
	_PercentageVacancyType (VacantZeroToFivePercent | VacantOverFivePercent) #IMPLIED
	_VacancyPercent CDATA #IMPLIED
>
<!ELEMENT _TYPICAL_APARTMENT (#PCDATA)>
<!ATTLIST _TYPICAL_APARTMENT
	_ID ID #IMPLIED
	AgeYearsCount CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_EstimatedVacancyPercent CDATA #IMPLIED
	_VacancyTrendType (Increasing | Stable | Decreasing) #IMPLIED
	_RentHighPriceAmount CDATA #IMPLIED
	_RentLowPriceAmount CDATA #IMPLIED
	_RentTrendType (Increasing | Stable | Decreasing) #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	RentControlDescription CDATA #IMPLIED
	StoriesCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
>
<!ELEMENT _PRESENT_LAND_USE (#PCDATA)>
<!ATTLIST _PRESENT_LAND_USE
	_ID ID #IMPLIED
	_Type (SingleFamily | TwoToFourFamily | Apartment | Condominium | Cooperative | Commercial | Industrial | Vacant | ManufacturedHome | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Percent CDATA #IMPLIED
>
<!ELEMENT NEIGHBORHOOD_FEATURE (#PCDATA)>
<!ATTLIST NEIGHBORHOOD_FEATURE
	_ID ID #IMPLIED
	_Type (AdequacyOfShopping | EmploymentOpportunities | RecreationalFacilities | AdequacyOfUtilities | AdequacyOfPublicTransportation | PropertyCompatibility | ProtectionFromDetrimentalConditions | PoliceAndFireProtection | GeneralAppearanceOfProperties | AppealToMarket | EmploymentStability | ConvenienceToEmployment | ConvenienceToShopping | ConvenienceToPublicTransportation | ConvenienceToGrammarSchool | ConvenienceToFreewayAccess | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_EstimatedDistanceText CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
>
<!ELEMENT _ADVERSE_FEATURE (#PCDATA)>
<!ATTLIST _ADVERSE_FEATURE
	_ID ID #IMPLIED
	_Type (EmploymentConditions | OverSupply | DecliningValues | ExtendedMarketingTime | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _SPECIAL (#PCDATA)>
<!ATTLIST _SPECIAL
	_ID ID #IMPLIED
	_Description CDATA #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT _EXEMPTION (#PCDATA)>
<!ATTLIST _EXEMPTION
	_ID ID #IMPLIED
	_Description CDATA #IMPLIED
	_Indicator (Y | N) #IMPLIED
>
<!ELEMENT PRIOR_LISTING (#PCDATA)>
<!ATTLIST PRIOR_LISTING
	ListingSequenceIdentifier CDATA #IMPLIED
	_ID ID #IMPLIED
	_Date CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_DaysOnMarketCount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT NEW_IMPROVEMENT (#PCDATA)>
<!ATTLIST NEW_IMPROVEMENT
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_Type (Dwelling | Garage | PorchesPatios | EnergyEfficientItems | LevelOne | LevelTwo | LevelThree | LevelFour | LevelFive | SectionOne | SectionTwo | SectionThree | SectionFour | Additional | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_CostDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	PricePerSquareFootAmount CDATA #IMPLIED
	_CostAmount CDATA #IMPLIED
>
<!ELEMENT DEPRECIATION (#PCDATA)>
<!ATTLIST DEPRECIATION
	_ID ID #IMPLIED
	_PhysicalPercent CDATA #IMPLIED
	_PhysicalAmount CDATA #IMPLIED
	_FunctionalPercent CDATA #IMPLIED
	_FunctionalAmount CDATA #IMPLIED
	_ExteriorPercent CDATA #IMPLIED
	_ExteriorAmount CDATA #IMPLIED
	_TotalAmount CDATA #IMPLIED
>
<!ELEMENT DATA_IDENTIFICATION (#PCDATA)>
<!ATTLIST DATA_IDENTIFICATION
	_ID ID #IMPLIED
	NADAManufacturedHousingGuideEditionMonth CDATA #IMPLIED
	NADAManufacturedHousingGuideEditionYear CDATA #IMPLIED
	ManufacturedHomeBuiltState CDATA #IMPLIED
	ManufacturedHomeRegionIdentifier CDATA #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	LengthFeetCount CDATA #IMPLIED
	NADAManufacturedHousingGuideGreyPageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideWhitePageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideBlackPageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideYellowPageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideConversionChartPageIdentifier CDATA #IMPLIED
	ManufacturedHomeCostDataComment CDATA #IMPLIED
>
<!ELEMENT OTHER_FEATURE (#PCDATA)>
<!ATTLIST OTHER_FEATURE
	_ID ID #IMPLIED
	PropertyFeatureSequenceIdentifier CDATA #IMPLIED
	PropertyFeatureName CDATA #IMPLIED
>
<!ELEMENT RESEARCH (SUBJECT*, COMPARABLE*, MARKET_CONDITION*, DATA_SOURCE*)>
<!ATTLIST RESEARCH
	_ID ID #IMPLIED
	SalesHistoryResearchedIndicator (Y | N) #IMPLIED
	SalesHistoryNotResearchedComment CDATA #IMPLIED
	ComparableListingsResearchedCount CDATA #IMPLIED
	ComparableListingsPriceRangeLowAmount CDATA #IMPLIED
	ComparableListingsPriceRangeHighAmount CDATA #IMPLIED
	ComparableSalesResearchedCount CDATA #IMPLIED
	ComparableSalesPriceRangeLowAmount CDATA #IMPLIED
	ComparableSalesPriceRangeHighAmount CDATA #IMPLIED
>
<!ELEMENT COMPARABLE_SALE (LOCATION*, ROOM_ADJUSTMENT*, SALE_PRICE_ADJUSTMENT*, OTHER_FEATURE_ADJUSTMENT*, PRIOR_SALES*, IMAGE*)>
<!ATTLIST COMPARABLE_SALE
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	ProjectName CDATA #IMPLIED
	ProjectPhaseIdentifier CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	DataSourceVerificationDescription CDATA #IMPLIED
	ManufacturedHomeIndicator (Y | N) #IMPLIED
	_FurnishedIndicator (Y | N) #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
	GrossMonthlyRentMultiplierFactor CDATA #IMPLIED
	ClosingDate CDATA #IMPLIED
	DaysOnMarketCount CDATA #IMPLIED
	FinalListPriceAmount CDATA #IMPLIED
	PropertySalesAmount CDATA #IMPLIED
	SalesPriceToListPriceRate CDATA #IMPLIED
	SalesPricePerGrossBuildingAreaAmount CDATA #IMPLIED
	SalesPricePerOwnershipShareAmount CDATA #IMPLIED
	SalesPricePerGrossLivingAreaAmount CDATA #IMPLIED
	SalesPricePerUnitAmount CDATA #IMPLIED
	SalesPricePerRoomAmount CDATA #IMPLIED
	SalesPricePerBedroomAmount CDATA #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	SalesPriceTotalAdjustmentAmount CDATA #IMPLIED
	SalesPriceTotalAdjustmentPositiveIndicator (Y | N) #IMPLIED
	SalesPriceTotalAdjustmentNetPercent CDATA #IMPLIED
	SalesPriceTotalAdjustmentGrossPercent CDATA #IMPLIED
	AdjustedSalesPriceAmount CDATA #IMPLIED
	AdjustedSalesPricePerUnitAmount CDATA #IMPLIED
	AdjustedSalesPricePerRoomAmount CDATA #IMPLIED
	AdjustedSalesPricePerBedroomAmount CDATA #IMPLIED
	ComparablePropertyComment CDATA #IMPLIED
	ComparablePropertyRatingType (Superior | Similar | Inferior) #IMPLIED
	ListPriceToSalesPriceRate CDATA #IMPLIED
>
<!ELEMENT RESIDENTIAL_RENT_SCHEDULE (OTHER_FEATURE*, RESIDENTIAL_RENTAL*)>
<!ATTLIST RESIDENTIAL_RENT_SCHEDULE
	EstimatedMarketMonthlyRentAmount CDATA #IMPLIED
	EstimatedMarketMonthlyRentEffectiveDate CDATA #IMPLIED
	MarketRentalDataComment CDATA #IMPLIED
	MarketRentReconciliationComment CDATA #IMPLIED
>
<!ELEMENT MULTIFAMILY_RENT_SCHEDULE (UNIT_RENT_SCHEDULE*, RENT_INCLUDES_UTILITY*)>
<!ATTLIST MULTIFAMILY_RENT_SCHEDULE
	RentalActualGrossMonthlyRentAmount CDATA #IMPLIED
	RentalActualAdditionalMonthlyIncomeAmount CDATA #IMPLIED
	RentalActualTotalMonthlyIncomeAmount CDATA #IMPLIED
	RentalEstimatedGrossMonthlyRentAmount CDATA #IMPLIED
	RentalEstimatedAdditionalMonthlyIncomeAmount CDATA #IMPLIED
	RentalEstimatedTotalMonthlyIncomeAmount CDATA #IMPLIED
	MarketRentalDataComment CDATA #IMPLIED
	RentalDataAnalysisComment CDATA #IMPLIED
>
<!ELEMENT MULTIFAMILY_RENTALS (OTHER_FEATURE*, MULTIFAMILY_RENTAL*)>
<!ATTLIST MULTIFAMILY_RENTALS
	RentalDataAnalysisComment CDATA #IMPLIED
>
<!ELEMENT OPERATING_INCOME (#PCDATA)>
<!ATTLIST OPERATING_INCOME
	_Type (GrossAnnualRent | OtherIncome | TotalIncome | LessVacancy | LessVacancyRatio | EffectiveGrossIncome) #IMPLIED
	_Amount CDATA #IMPLIED
	_AdjustmentAmount CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT OPERATING_EXPENSE (#PCDATA)>
<!ATTLIST OPERATING_EXPENSE
	_Type (Electricity | Gas | FuelOil | FuelAlternative | WaterSewer | Trash | PestControl | Taxes | CasualLabor | Decorating | Maintenance | Management | Supplies | Reserves | Total) #IMPLIED
	_Amount CDATA #IMPLIED
	_AdjustmentAmount CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT ADDITIONAL_OPERATING_EXPENSE (#PCDATA)>
<!ATTLIST ADDITIONAL_OPERATING_EXPENSE
	_SequenceIdentifier CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_AdjustmentAmount CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT OPERATING_RESERVE (#PCDATA)>
<!ATTLIST OPERATING_RESERVE
	_Type (Stoves | Refrigerators | DishWashers | AirConditioners | WasherDryer | WaterHeater | Furnace | Miscellaneous | Roof | UnitCarpet | PublicAreaCarpet | Total) #IMPLIED
	_ReplacementCostAmount CDATA #IMPLIED
	_RemainingLifeYearsCount CDATA #IMPLIED
	_UnitsCount CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_AdjustmentAmount CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT OPERATING_CASH_FLOW (#PCDATA)>
<!ATTLIST OPERATING_CASH_FLOW
	OperatingGrossIncomeAmount CDATA #IMPLIED
	OperatingTotalExpensesAmount CDATA #IMPLIED
	OperatingTotalIncomeAmount CDATA #IMPLIED
	OperatingMonthlyTotalIncomeAmount CDATA #IMPLIED
	OperatingMonthlyHousingExpenseAmount CDATA #IMPLIED
	OperatingNetCashFlowAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT COMPETITIVE_LISTINGS (OTHER_FEATURE*, RESEARCH*, COMPARABLE_LISTING*)>
<!ATTLIST COMPETITIVE_LISTINGS
	_ID ID #IMPLIED
	_Comment CDATA #IMPLIED
	_Count CDATA #IMPLIED
>
<!ELEMENT REPAIRS (REPAIR_ITEM*)>
<!ATTLIST REPAIRS
	_ID ID #IMPLIED
	_TotalCostAmount CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT APPRAISER (CONTACT_DETAIL*, APPRAISER_LICENSE*, SIGNATURE*, INSPECTION*)>
<!ATTLIST APPRAISER
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CompanyName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	AppraisalFormsUnparsedAddress CDATA #IMPLIED
	_QualificationScoreNumber CDATA #IMPLIED
	_ExperienceYearsCount CDATA #IMPLIED
	_AverageTurnTime CDATA #IMPLIED
	_ServiceFeeAmount CDATA #IMPLIED
	_ProximityToSubjectNumber CDATA #IMPLIED
>
<!ELEMENT SUPERVISOR (CONTACT_DETAIL*, APPRAISER_LICENSE*, SIGNATURE*, INSPECTION*)>
<!ATTLIST SUPERVISOR
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CompanyName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	AppraisalFormsUnparsedAddress CDATA #IMPLIED
>
<!ELEMENT REVIEW_APPRAISER (CONTACT_DETAIL*, APPRAISER_LICENSE*, SIGNATURE*, INSPECTION*)>
<!ATTLIST REVIEW_APPRAISER
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CompanyName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	AppraisalFormsUnparsedAddress CDATA #IMPLIED
>
<!ELEMENT CONTACT_POINT (#PCDATA)>
<!ATTLIST CONTACT_POINT
	_RoleType (Home | Mobile | Work | Other) #IMPLIED
	_Type (Email | Fax | Other | Phone) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Value CDATA #IMPLIED
	_PreferenceIndicator (Y | N) #IMPLIED
	_RoleTypeOtherDescription CDATA #IMPLIED
	_ID ID #IMPLIED
>
<!ELEMENT _SECTION (#PCDATA)>
<!ATTLIST _SECTION
	_ID ID #IMPLIED
	DepthFeetCount CDATA #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	_Type (SectionOne | SectionTwo | SectionThree | SectionFour | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT _QUALITY (#PCDATA)>
<!ATTLIST _QUALITY
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT FOUNDATION_CONDITION (#PCDATA)>
<!ATTLIST FOUNDATION_CONDITION
	_ID ID #IMPLIED
	_Type (Dampness | Settlement | Infestation | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Comment CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT BASEMENT_FEATURE (#PCDATA)>
<!ATTLIST BASEMENT_FEATURE
	_ID ID #IMPLIED
	_Type (OutsideEntry | FloorDrain | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT ROOM_TYPE_SUMMARY (#PCDATA)>
<!ATTLIST ROOM_TYPE_SUMMARY
	_ID ID #IMPLIED
	RoomType (Foyer | LivingRoom | DiningRoom | Kitchen | Den | FamilyRoom | RecreationRoom | Bedroom | Bathroom | Laundry | Other) #IMPLIED
	RoomTypeOtherDescription CDATA #IMPLIED
	_Count CDATA #IMPLIED
>
<!ELEMENT _AREA (#PCDATA)>
<!ATTLIST _AREA
	_ID ID #IMPLIED
	_Type (Roof | Ceiling | Walls | Floor | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	InsulationRatingDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT _ABSENCE (#PCDATA)>
<!ATTLIST _ABSENCE
	_ID ID #IMPLIED
	_Type (Unknown | None) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT WALL_MATERIAL (#PCDATA)>
<!ATTLIST WALL_MATERIAL
	_ID ID #IMPLIED
	_Type (Drywall | Paneling | Pressboard | Plaster | Ceramic | Marlite | Fiberglass | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT ATTIC_FEATURE (#PCDATA)>
<!ATTLIST ATTIC_FEATURE
	_ID ID #IMPLIED
	_Type (Finished | DropStair | Scuttle | Floor | Stairs | Heated | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT CAR_STORAGE_LOCATION (#PCDATA)>
<!ATTLIST CAR_STORAGE_LOCATION
	_ID ID #IMPLIED
	_Type (Garage | Carport | Covered | Driveway | Open | OffStreet | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_AttachmentType (Attached | Detached | BuiltIn) #IMPLIED
	ParkingSpacesCount CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS_RATING (#PCDATA)>
<!ATTLIST STRUCTURE_ANALYSIS_RATING
	_ID ID #IMPLIED
	_ItemType (ExteriorAppeal | ConstructionQuality | TrimAndFinish | Condition | InteriorAppeal | FunctionalUtility | RoomSizeAndLayout | AdequacyOfClosetsAndStorage | KitchenEquipment | Plumbing | Electrical | Skirting | AdequacyOfInsulation | LocationWithinProjectOrView | OverallLivability | AppealAndMarketability | Other) #IMPLIED
	_ItemTypeOtherDescription CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT UNIT_CHARGE (UNIT_CHARGE_UTILITY*)>
<!ATTLIST UNIT_CHARGE
	_ID ID #IMPLIED
	_PeriodType (Annually | Biweekly | Daily | Monthly | Quarterly | Semiannually | Semimonthly | Weekly) #IMPLIED
	_Amount CDATA #IMPLIED
	_PerSquareFootAmount CDATA #IMPLIED
	_NoUtilitiesIncludedInAssessmentIndicator (Y | N) #IMPLIED
>
<!ELEMENT SUBJECT (#PCDATA)>
<!ATTLIST SUBJECT
	_ID ID #IMPLIED
	_HasPriorSalesIndicator (Y | N) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT COMPARABLE (#PCDATA)>
<!ATTLIST COMPARABLE
	_ID ID #IMPLIED
	_HasPriorSalesIndicator (Y | N) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT MARKET_CONDITION (#PCDATA)>
<!ATTLIST MARKET_CONDITION
	_ID ID #IMPLIED
	ComparableListingsResearchedCount CDATA #IMPLIED
	ComparableListingsPriceAverageAmount CDATA #IMPLIED
	PendingSalesCount CDATA #IMPLIED
	Past1to6MonthsComparableListingsNotSoldCount CDATA #IMPLIED
	Past6to12MonthsComparableListingsNotSoldCount CDATA #IMPLIED
	Past1to6MonthsComparableSalesClosedCount CDATA #IMPLIED
	Past6to12MonthsComparableSalesClosedCount CDATA #IMPLIED
>
<!ELEMENT DATA_SOURCE (#PCDATA)>
<!ATTLIST DATA_SOURCE
	_ID ID #IMPLIED
	_Type (InteriorExteriorInspection | ExteriorInspectionOnly | PreviousAppraisalFile | ThirdPartyAppraisalReport | Lender | LocalNewsPaper | MultipleListingService | AssessmentAndTaxRecords | PriorInspection | PropertyOwner | Other) #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT LOCATION (#PCDATA)>
<!ATTLIST LOCATION
	_ID ID #IMPLIED
	PropertyStreetAddress CDATA #IMPLIED
	PropertyStreetAddress2 CDATA #IMPLIED
	UnitIdentifier CDATA #IMPLIED
	PropertyCity CDATA #IMPLIED
	PropertyState CDATA #IMPLIED
	PropertyPostalCode CDATA #IMPLIED
	LongitudeNumber CDATA #IMPLIED
	LatitudeNumber CDATA #IMPLIED
	ProximityToSubjectDescription CDATA #IMPLIED
	AppraisalFormsAdditionalLocationDescription CDATA #IMPLIED
	DistanceUnitOfMeasureType (Miles | Blocks) #IMPLIED
>
<!ELEMENT ROOM_ADJUSTMENT (#PCDATA)>
<!ATTLIST ROOM_ADJUSTMENT
	_ID ID #IMPLIED
	UnitSequenceIdentifier CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	BathroomAdjustmentAmount CDATA #IMPLIED
	RoomAdjustmentAmount CDATA #IMPLIED
>
<!ELEMENT SALE_PRICE_ADJUSTMENT (#PCDATA)>
<!ATTLIST SALE_PRICE_ADJUSTMENT
	_ID ID #IMPLIED
	_Type (Additions | AdjustedMonthlyRent | Age | Amenities | BasementArea | BasementFinish | CarStorage | CommonElements | Condition | DateOfSale | DesignAppeal | DesignStyle | EffectiveAge | EnergyEfficient | FencePool | FinancingConcessions | RoomsBelowGrade | Fireplaces | FloorLocation | Forecasting | FunctionalUtility | Furnishings | GarageCarport | GrossBuildingArea | GrossLivingArea | HeatingCooling | InteriorAppeal | Location | Make | MarketChange | MaintenanceFees | MonthlyFacilityFee | NeighborhoodAppeal | NumberOfUnits | Parking | PorchDeck | ProjectAmenities | ProjectSize | PropertyRights | PropertyType | PropertyTypeOther | Quality | RecreationFacilities | RemodelKitchen | RemodelBath | RentConcessions | SalesConcessions | SecurityFeatures | ProjectSecurity | SignificantFeatures | SiteAppeal | SiteArea | SiteValue | Solar | TipOut | Utilities | View | WaterFront | YearBuilt | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	AreaUnitOfMeasureType (Acres | SquareFeet) #IMPLIED
>
<!ELEMENT OTHER_FEATURE_ADJUSTMENT (#PCDATA)>
<!ATTLIST OTHER_FEATURE_ADJUSTMENT
	_ID ID #IMPLIED
	PropertyFeatureSequenceIdentifier CDATA #IMPLIED
	PropertyFeatureDescription CDATA #IMPLIED
	PropertyFeatureAdjustmentAmount CDATA #IMPLIED
>
<!ELEMENT PRIOR_SALES (#PCDATA)>
<!ATTLIST PRIOR_SALES
	PropertySalesDate CDATA #IMPLIED
	PropertySalesAmount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	DataSourceEffectiveDate CDATA #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
>
<!ELEMENT RESIDENTIAL_RENTAL (LOCATION*, RENT_ADJUSTMENT*, ROOM_ADJUSTMENT*, OTHER_FEATURE_ADJUSTMENT*)>
<!ATTLIST RESIDENTIAL_RENTAL
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	LeaseStartDate CDATA #IMPLIED
	LeaseExpirationDate CDATA #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
	RentalMonthlyUtilitiesCostAmount CDATA #IMPLIED
	MonthlyFurnitureRentAmount CDATA #IMPLIED
	ExpenseAdjustedMonthlyRentAmount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	RentTotalAdjustmentAmount CDATA #IMPLIED
	RentTotalAdjustmentPositiveIndicator (Y | N) #IMPLIED
	RentTotalAdjustmentNetPercent CDATA #IMPLIED
	RentTotalAdjustmentGrossPercent CDATA #IMPLIED
	MarketAdjustedMonthlyRentAmount CDATA #IMPLIED
>
<!ELEMENT UNIT_RENT_SCHEDULE (#PCDATA)>
<!ATTLIST UNIT_RENT_SCHEDULE
	_ID ID #IMPLIED
	UnitSequenceIdentifier CDATA #IMPLIED
	LeaseStartDate CDATA #IMPLIED
	LeaseExpirationDate CDATA #IMPLIED
	UnitUnfurnishedActualRentAmount CDATA #IMPLIED
	UnitFurnishedActualRentAmount CDATA #IMPLIED
	UnitActualRentAmount CDATA #IMPLIED
	UnitUnfurnishedMarketRentAmount CDATA #IMPLIED
	UnitFurnishedMarketRentAmount CDATA #IMPLIED
	UnitMarketRentAmount CDATA #IMPLIED
	UnitCurrentlyRentedIndicator (Y | N) #IMPLIED
>
<!ELEMENT RENT_INCLUDES_UTILITY (#PCDATA)>
<!ATTLIST RENT_INCLUDES_UTILITY
	_ID ID #IMPLIED
	_Type (Electric | Water | Sewer | Gas | Oil | FuelAlternative | Cable | Trash | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Indicator (Y | N) #IMPLIED
>
<!ELEMENT MULTIFAMILY_RENTAL (LOCATION*, RENTAL_UNIT*, RENTAL_FEATURE*, OTHER_FEATURE_DESCRIPTION*, IMAGE*)>
<!ATTLIST MULTIFAMILY_RENTAL
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
	RentPerGrossBuildingAreaAmount CDATA #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	GrossBuildingAreaSquareFeetCount CDATA #IMPLIED
>
<!ELEMENT COMPARABLE_LISTING (LOCATION*, LISTING_FEATURE*, OTHER_FEATURE_ADJUSTMENT*, OTHER_FEATURE_DESCRIPTION*, IMAGE*, ROOM_ADJUSTMENT*)>
<!ATTLIST COMPARABLE_LISTING
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	ComparablePropertyComment CDATA #IMPLIED
>
<!ELEMENT REPAIR_ITEM (#PCDATA)>
<!ATTLIST REPAIR_ITEM
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_CostAmount CDATA #IMPLIED
>
<!ELEMENT APPRAISER_LICENSE (#PCDATA)>
<!ATTLIST APPRAISER_LICENSE
	_ID ID #IMPLIED
	_Identifier CDATA #IMPLIED
	_ExpirationDate CDATA #IMPLIED
	_State CDATA #IMPLIED
	_Type (Certificate | License | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT SIGNATURE (IMAGE*)>
<!ATTLIST SIGNATURE
	_AffixedIndicator (Y | N) #IMPLIED
	_Date CDATA #IMPLIED
>
<!ELEMENT INSPECTION (#PCDATA)>
<!ATTLIST INSPECTION
	_ID ID #IMPLIED
	AppraisalInspectionPropertyType (Subject | Comparable) #IMPLIED
	AppraisalInspectionType (ExteriorAndInterior | ExteriorOnly | None | Other) #IMPLIED
	AppraisalInspectionTypeOtherDescription CDATA #IMPLIED
	ExteriorInspectionSufficientIndicator (Y | N) #IMPLIED
	InspectionDate CDATA #IMPLIED
>
<!ELEMENT UNIT_CHARGE_UTILITY (#PCDATA)>
<!ATTLIST UNIT_CHARGE_UTILITY
	_ID ID #IMPLIED
	_Type (Heating | Cooling | Electricity | Gas | Water | Sewer | Garbage | Cable | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_IncludedInAssessmentIndicator (Y | N) #IMPLIED
>
<!ELEMENT RENT_ADJUSTMENT (#PCDATA)>
<!ATTLIST RENT_ADJUSTMENT
	_ID ID #IMPLIED
	_Type (RentConcessions | OtherConcessions | Location | View | Design | Appeal | Age | Condition | GrossLivingArea | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT RENTAL_UNIT (#PCDATA)>
<!ATTLIST RENTAL_UNIT
	_ID ID #IMPLIED
	UnitSequenceIdentifier CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
>
<!ELEMENT RENTAL_FEATURE (#PCDATA)>
<!ATTLIST RENTAL_FEATURE
	_ID ID #IMPLIED
	_Type (Lease | Location | Age | Condition | UtilitiesIncluded | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT OTHER_FEATURE_DESCRIPTION (#PCDATA)>
<!ATTLIST OTHER_FEATURE_DESCRIPTION
	_ID ID #IMPLIED
	PropertyFeatureSequenceIdentifier CDATA #IMPLIED
	PropertyFeatureDescription CDATA #IMPLIED
>
<!ELEMENT LISTING_FEATURE (#PCDATA)>
<!ATTLIST LISTING_FEATURE
	_ID ID #IMPLIED
	_Type (NeighborhoodAppeal | OriginalListPrice | CurrentListPrice | LastPriceRevisionDate | DaysOnMarket | ActualAge | GrossLivingArea | TotalRooms | TotalBedrooms | TotalBathrooms | SiteArea | SiteAppeal | SiteView | StyleAndAppeal | Design | ConstructionQuality | Condition | InteriorAppeal | BasementArea | BasementFinish | FunctionalUtility | HeatingCooling | CarStorage | Fireplace | SignificantFeatures | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
