AppraisalWorld/Mismo/AppraisalXML2_6.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0 U (http://www.xmlspy.com) by Jeff J Bradford (private) -->
<!--DTD generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<!ELEMENT AMENITY (FLOOR_COVERING*)>
<!ATTLIST AMENITY
	_ID ID #IMPLIED
	_Type (Fireplace | SecuritySystem | Intercom | JettedTub | Patio | Deck | Balcony | Porch | Fence | Spa | Pool | WoodStove | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Count CDATA #IMPLIED
	_DetailedDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT APPRAISAL_REVIEW (_CATEGORY*)>
<!ATTLIST APPRAISAL_REVIEW
	_ID ID #IMPLIED
	_OriginalAppraisalEffectiveDate CDATA #IMPLIED
	_OriginalAppraisedValueAmount CDATA #IMPLIED
	_OriginalAppraisedValueAccurateIndicator (Y | N) #IMPLIED
	_ExtraordinaryAssumptionsDescription CDATA #IMPLIED
	_DisagreementDescription CDATA #IMPLIED
	PropertyMarketValueDecreasedIndicator (Y | N) #IMPLIED
	_ImprovementsCompletedIndicator (Y | N) #IMPLIED
	_MarketValueChangeComment CDATA #IMPLIED
	_ValueConclusionComment CDATA #IMPLIED
>
<!ELEMENT APPRAISAL_UPDATE EMPTY>
<!ATTLIST APPRAISAL_UPDATE
	AppraisalUpdateIndicator (Y | N) #IMPLIED
	AppraisalCompletionCertificateIndicator (Y | N) #IMPLIED
	AppraisalReviewOriginalAppraisalEffectiveDate CDATA #IMPLIED
	AppraisalReviewOriginalAppraisedValueAmount CDATA #IMPLIED
	_OriginalLenderUnparsedName CDATA #IMPLIED
	_OriginalLenderUnparsedAddress CDATA #IMPLIED
	_OriginalAppraiserUnparsedName CDATA #IMPLIED
	_OriginalAppraiserCompanyName CDATA #IMPLIED
	PropertyMarketValueDecreasedIndicator (Y | N) #IMPLIED
	PropertyImprovementsCompletedIndicator (Y | N) #IMPLIED
	AppraisalUpdateComment CDATA #IMPLIED
	AppraisalCompletionCertificateComment CDATA #IMPLIED
>
<!ELEMENT APPRAISER (CONTACT_DETAIL?, APPRAISER_LICENSE?, INSPECTION*)>
<!ATTLIST APPRAISER
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CompanyName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
>
<!ELEMENT APPRAISER_LICENSE EMPTY>
<!ATTLIST APPRAISER_LICENSE
	_ID ID #IMPLIED
	_Identifier CDATA #IMPLIED
	_ExpirationDate CDATA #IMPLIED
	_State CDATA #IMPLIED
	_Type (Certificate | License | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT ATTIC (ATTIC_FEATURE*, LEVEL?)>
<!ATTLIST ATTIC
	_ID ID #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT ATTIC_FEATURE EMPTY>
<!ATTLIST ATTIC_FEATURE
	_ID ID #IMPLIED
	_Type (Finished | DropStair | Scuttle | Floor | Stairs | Heated | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT BASEMENT (BASEMENT_FEATURE*, ROOM_TYPE_SUMMARY*)>
<!ATTLIST BASEMENT
	_ID ID #IMPLIED
	_CeilingMaterialDescription CDATA #IMPLIED
	_FinishedPercent CDATA #IMPLIED
	_FinishDescription CDATA #IMPLIED
	_FinishedIndicator (Y | N) #IMPLIED
	_FirstFloorAreaPercent CDATA #IMPLIED
	_FloorMaterialDescription CDATA #IMPLIED
	_WallMaterialDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT BASEMENT_FEATURE EMPTY>
<!ATTLIST BASEMENT_FEATURE
	_ID ID #IMPLIED
	_Type (OutsideEntry | FloorDrain | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT BORROWER (BORROWER_EXTENSION?)>
<!ATTLIST BORROWER
	_ID ID #IMPLIED
	_FirstName CDATA #IMPLIED
	_MiddleName CDATA #IMPLIED
	_LastName CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
>
<!ELEMENT BORROWER_EXTENSION (BORROWER_EXTENSION_SECTION*)>
<!ATTLIST BORROWER_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT BORROWER_EXTENSION_SECTION (CONTACT_DETAIL*, BORROWER_EXTENSION_SECTION_DATA?)>
<!ATTLIST BORROWER_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT BORROWER_EXTENSION_SECTION_DATA (BORROWER_NAME*)>
<!ATTLIST BORROWER_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT BORROWER_NAME EMPTY>
<!ATTLIST BORROWER_NAME
	GSEBorrowerName CDATA #IMPLIED
>
<!ELEMENT CAR_STORAGE (CAR_STORAGE_LOCATION*)>
<!ATTLIST CAR_STORAGE
	_ID ID #IMPLIED
	AdequateIndicator (Y | N) #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	GuestParkingSpacesCount CDATA #IMPLIED
	ParkingSpacesCount CDATA #IMPLIED
	ParkingSpaceIdentifier CDATA #IMPLIED
	ParkingSpaceAssignmentType (Assigned | Owned | Other) #IMPLIED
	_AttachmentType (Attached | Detached | BuiltIn) #IMPLIED
>
<!ELEMENT CAR_STORAGE_LOCATION EMPTY>
<!ATTLIST CAR_STORAGE_LOCATION
	_ID ID #IMPLIED
	_Type (Garage | Carport | Covered | Driveway | Open | OffStreet | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	ParkingSpacesCount CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT COMPARABLE EMPTY>
<!ATTLIST COMPARABLE
	_ID ID #IMPLIED
	_HasPriorSalesIndicator (Y | N) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT COMPARABLE_LISTING (LOCATION?, LISTING_FEATURE*, OTHER_FEATURE_DESCRIPTION*, IMAGE*)>
<!ATTLIST COMPARABLE_LISTING
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	ComparablePropertyComment CDATA #IMPLIED
>
<!ELEMENT COMPARABLE_SALE (LOCATION?, ROOM_ADJUSTMENT*, SALE_PRICE_ADJUSTMENT*, OTHER_FEATURE_ADJUSTMENT*, PRIOR_SALES*, IMAGE?, COMPARISON_DETAIL_EXTENSION?, COMPARISON_VIEW_OVERALL_RATING_EXTENSION?, COMPARISON_VIEW_DETAIL_EXTENSION?, COMPARISON_LOCATION_OVERALL_RATING_EXTENSION?, COMPARISON_LOCATION_DETAIL_EXTENSION?, COMPARISON_DATE_EXTENSION?)>
<!ATTLIST COMPARABLE_SALE
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	ProjectName CDATA #IMPLIED
	ProjectPhaseIdentifier CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	DataSourceVerificationDescription CDATA #IMPLIED
	ManufacturedHomeIndicator (Y | N) #IMPLIED
	_FurnishedIndicator (Y | N) #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
	GrossMonthlyRentMultiplierFactor CDATA #IMPLIED
	ClosingDate CDATA #IMPLIED
	DaysOnMarketCount CDATA #IMPLIED
	FinalListPriceAmount CDATA #IMPLIED
	PropertySalesAmount CDATA #IMPLIED
	SalesPriceToListPriceRate CDATA #IMPLIED
	SalesPricePerGrossBuildingAreaAmount CDATA #IMPLIED
	SalesPricePerOwnershipShareAmount CDATA #IMPLIED
	SalesPricePerGrossLivingAreaAmount CDATA #IMPLIED
	SalesPricePerUnitAmount CDATA #IMPLIED
	SalesPricePerRoomAmount CDATA #IMPLIED
	SalesPricePerBedroomAmount CDATA #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	SalePriceTotalAdjustmentAmount CDATA #IMPLIED
	SalesPriceTotalAdjustmentPositiveIndicator (Y | N) #IMPLIED
	SalePriceTotalAdjustmentNetPercent CDATA #IMPLIED
	SalesPriceTotalAdjustmentGrossPercent CDATA #IMPLIED
	AdjustedSalesPriceAmount CDATA #IMPLIED
	AdjustedSalesPricePerUnitAmount CDATA #IMPLIED
	AdjustedSalesPricePerRoomAmount CDATA #IMPLIED
	AdjustedSalesPricePerBedroomAmount CDATA #IMPLIED
	ComparablePropertyComment CDATA #IMPLIED
>
<!ELEMENT COMPARISON_DATE_EXTENSION (COMPARISON_DATE_EXTENSION_SECTION*)>
<!ATTLIST COMPARISON_DATE_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_DATE_EXTENSION_SECTION (CONTACT_DETAIL*, COMPARISON_DATE_EXTENSION_SECTION_DATA?)>
<!ATTLIST COMPARISON_DATE_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COMPARISON_DATE_EXTENSION_SECTION_DATA (OFFERING_DISPOSITION+)>
<!ATTLIST COMPARISON_DATE_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_DETAIL EMPTY>
<!ATTLIST COMPARISON_DETAIL
	_ID ID #IMPLIED
	GSEDataSourceDescription CDATA #IMPLIED
	GSEDaysOnMarketDescription CDATA #IMPLIED
	GSESaleType (Listing | REOSale | ShortSale | CourtOrderedSale | EstateSale | RelocationSale | NonArmsLengthSale | ArmsLengthSale) #IMPLIED
	GSEFinancingType (FHA | VA | Conventional | Cash | RuralHousing | Seller | Other) #IMPLIED
	GSEFinancingTypeOtherDescription CDATA #IMPLIED
	GSEContractDateUnknownIndicator (Y | N) #IMPLIED
	GSEConcessionAmount CDATA #IMPLIED
	GSEListingStatusType (Active | Expired | Withdrawn | Contract | SettledSale) #IMPLIED
	GSEQualityOfConstructionRatingType (Q1 | Q2 | Q3 | Q4 | Q5 | Q6) #IMPLIED
	GSEAgeEstimationIndicator (Y | N) #IMPLIED
	GSEOverallConditionType (C1 | C2 | C3 | C4 | C5 | C6) #IMPLIED
	GSEBasementExitType (WalkUp | WalkOut | InteriorOnly) #IMPLIED
	GSEBelowGradeRecreationRoomCount CDATA #IMPLIED
	GSEBelowGradeBedroomRoomCount CDATA #IMPLIED
	GSEBelowGradeBathroomRoomCount CDATA #IMPLIED
	GSEBelowGradeOtherRoomCount CDATA #IMPLIED
	GSEBelowGradeFinishSquareFeetNumber CDATA #IMPLIED
	GSEBelowGradeTotalSquareFeetNumber CDATA #IMPLIED
	GSERoomsAboveGradeTotalRoomAdjustmentAmount CDATA #IMPLIED
	GSERoomsAboveGradeTotalRoomDescription CDATA #IMPLIED
	GSERoomsAboveGradeBedroomDescription CDATA #IMPLIED
	GSERoomsAboveGradeBathroomDescription CDATA #IMPLIED
	GSERentControlDescription CDATA #IMPLIED
>
<!ELEMENT COMPARISON_DETAIL_EXTENSION (COMPARISON_DETAIL_EXTENSION_SECTION*)>
<!ATTLIST COMPARISON_DETAIL_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_DETAIL_EXTENSION_SECTION (CONTACT_DETAIL*, COMPARISON_DETAIL_EXTENSION_SECTION_DATA?)>
<!ATTLIST COMPARISON_DETAIL_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COMPARISON_DETAIL_EXTENSION_SECTION_DATA (COMPARISON_DETAIL)>
<!ATTLIST COMPARISON_DETAIL_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_DETAIL EMPTY>
<!ATTLIST COMPARISON_LOCATION_DETAIL
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	GSELocationType (Residential | Industrial | Commercial | BusyRoad | Waterfront | GolfCourse | AdjacentToPark | AdjacentToPowerLines | Landfill | PublicTransportation | Other) #IMPLIED
	GSELocationTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_DETAIL_EXTENSION (COMPARISON_LOCATION_DETAIL_EXTENSION_SECTION*)>
<!ATTLIST COMPARISON_LOCATION_DETAIL_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_DETAIL_EXTENSION_SECTION (CONTACT_DETAIL*, COMPARISON_LOCATION_DETAIL_EXTENSION_SECTION_DATA?)>
<!ATTLIST COMPARISON_LOCATION_DETAIL_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_DETAIL_EXTENSION_SECTION_DATA (COMPARISON_LOCATION_DETAIL+)>
<!ATTLIST COMPARISON_LOCATION_DETAIL_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_OVERALL_RATING EMPTY>
<!ATTLIST COMPARISON_LOCATION_OVERALL_RATING
	GSEOverallLocationRatingType (Neutral | Beneficial | Adverse) #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_OVERALL_RATING_EXTENSION (COMPARISON_LOCATION_OVERALL_RATING_EXTENSION_SECTION*)>
<!ATTLIST COMPARISON_LOCATION_OVERALL_RATING_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_OVERALL_RATING_EXTENSION_SECTION (CONTACT_DETAIL*, COMPARISON_LOCATION_OVERALL_RATING_EXTENSION_SECTION_DATA?)>
<!ATTLIST COMPARISON_LOCATION_OVERALL_RATING_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COMPARISON_LOCATION_OVERALL_RATING_EXTENSION_SECTION_DATA (COMPARISON_LOCATION_OVERALL_RATING)>
<!ATTLIST COMPARISON_LOCATION_OVERALL_RATING_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_DETAIL EMPTY>
<!ATTLIST COMPARISON_VIEW_DETAIL
	_SequenceIdentifier CDATA #IMPLIED
	GSEViewType (WaterView | PastoralView | WoodsView | ParkView | GolfCourseView | CityViewSkylineView | MountainView | ResidentialView | CityStreetView | IndustrialView | PowerLines | LimitedSight | Other) #IMPLIED
	GSEViewTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_DETAIL_EXTENSION (COMPARISON_VIEW_DETAIL_EXTENSION_SECTION*)>
<!ATTLIST COMPARISON_VIEW_DETAIL_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_DETAIL_EXTENSION_SECTION (CONTACT_DETAIL*, COMPARISON_VIEW_DETAIL_EXTENSION_SECTION_DATA?)>
<!ATTLIST COMPARISON_VIEW_DETAIL_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_DETAIL_EXTENSION_SECTION_DATA (COMPARISON_VIEW_DETAIL+)>
<!ATTLIST COMPARISON_VIEW_DETAIL_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_OVERALL_RATING EMPTY>
<!ATTLIST COMPARISON_VIEW_OVERALL_RATING
	GSEViewOverallRatingType (Neutral | Beneficial | Adverse) #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_OVERALL_RATING_EXTENSION (COMPARISON_VIEW_OVERALL_RATING_EXTENSION_SECTION*)>
<!ATTLIST COMPARISON_VIEW_OVERALL_RATING_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_OVERALL_RATING_EXTENSION_SECTION (CONTACT_DETAIL*, COMPARISON_VIEW_OVERALL_RATING_EXTENSION_SECTION_DATA?)>
<!ATTLIST COMPARISON_VIEW_OVERALL_RATING_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COMPARISON_VIEW_OVERALL_RATING_EXTENSION_SECTION_DATA (COMPARISON_VIEW_OVERALL_RATING)>
<!ATTLIST COMPARISON_VIEW_OVERALL_RATING_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COMPETITIVE_LISTINGS (OTHER_FEATURE*, RESEARCH*, COMPARABLE_LISTING*)>
<!ATTLIST COMPETITIVE_LISTINGS
	_ID ID #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT CONDITION_DETAIL EMPTY>
<!ATTLIST CONDITION_DETAIL
	_SequenceIdentifier CDATA #IMPLIED
	GSEImprovementAreaType (Kitchen | Bathrooms) #IMPLIED
	GSEImprovementDescriptionType (NotUpdated | Updated | Remodeled) #IMPLIED
	GSEEstimateYearOfImprovementType (LessThanOneYearAgo | OneToFiveYearsAgo | SixToTenYearsAgo | ElevenToFifteenYearsAgo | Unknown) #IMPLIED
>
<!ELEMENT CONDITION_DETAIL_EXTENSION (CONDITION_DETAIL_EXTENSION_SECTION*)>
<!ATTLIST CONDITION_DETAIL_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT CONDITION_DETAIL_EXTENSION_SECTION (CONTACT_DETAIL*, CONDITION_DETAIL_EXTENSION_SECTION_DATA?)>
<!ATTLIST CONDITION_DETAIL_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT CONDITION_DETAIL_EXTENSION_SECTION_DATA (CONDITION_DETAIL+)>
<!ATTLIST CONDITION_DETAIL_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT CONTACT_DETAIL (CONTACT_POINT*)>
<!ATTLIST CONTACT_DETAIL
	_Name CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	_FirstName CDATA #IMPLIED
	_LastName CDATA #IMPLIED
	_MiddleName CDATA #IMPLIED
	_NameSuffix CDATA #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_ID ID #IMPLIED
>
<!ELEMENT CONTACT_POINT EMPTY>
<!ATTLIST CONTACT_POINT
	_RoleType (Home | Mobile | Work | Other) #IMPLIED
	_Type (Email | Fax | Other | Phone) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Value CDATA #IMPLIED
	_PreferenceIndicator (Y | N) #IMPLIED
	_RoleTypeOtherDescription CDATA #IMPLIED
	_ID ID #IMPLIED
>
<!ELEMENT COOLING EMPTY>
<!ATTLIST COOLING
	_ID ID #IMPLIED
	AdequateIndicator (Y | N) #IMPLIED
	_AdditionalUnitDescription CDATA #IMPLIED
	_AdditionalUnitName CDATA #IMPLIED
	_CentralizedIndicator (Y | N) #IMPLIED
	_IndividualIndicator (Y | N) #IMPLIED
	_OtherIndicator (Y | N) #IMPLIED
	_UnitDescription CDATA #IMPLIED
	_UnitConditionDescription CDATA #IMPLIED
>
<!ELEMENT COST_ANALYSIS (NEW_IMPROVEMENT*, DEPRECIATION?, DATA_IDENTIFICATION?, COST_ANALYSIS_EXTENSION*)>
<!ATTLIST COST_ANALYSIS
	_ID ID #IMPLIED
	_Type (Reproduction | Replacement | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	SiteEstimatedValueAmount CDATA #IMPLIED
	SiteEstimatedValueComment CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	DataSourceEffectiveDate CDATA #IMPLIED
	CostServiceQualityRatingDescription CDATA #IMPLIED
	NewImprovementTotalCostAmount CDATA #IMPLIED
	NewImprovementCostMultiplierFactor CDATA #IMPLIED
	NewImprovementCostLocalizedAmount CDATA #IMPLIED
	NewImprovementDepreciatedCostAmount CDATA #IMPLIED
	SiteOtherImprovementsAsIsAmount CDATA #IMPLIED
	ManufacturedHomeInstallationCostAmount CDATA #IMPLIED
	EstimatedRemainingEconomicLifeYearsCount CDATA #IMPLIED
	ValueIndicatedByCostApproachAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT COST_ANALYSIS_EXTENSION (COST_ANALYSIS_EXTENSION_SECTION*)>
<!ATTLIST COST_ANALYSIS_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT COST_ANALYSIS_EXTENSION_SECTION (CONTACT_DETAIL*, COST_ANALYSIS_EXTENSION_SECTION_DATA?)>
<!ATTLIST COST_ANALYSIS_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT COST_ANALYSIS_EXTENSION_SECTION_DATA (COST_APPROACH_DATA_SOURCE?)>
<!ATTLIST COST_ANALYSIS_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT COST_APPROACH_DATA_SOURCE EMPTY>
<!ATTLIST COST_APPROACH_DATA_SOURCE
	_ID ID #IMPLIED
	GSECostDataSourceEffectiveDateDescription CDATA #IMPLIED
>
<!ELEMENT DATA_IDENTIFICATION EMPTY>
<!ATTLIST DATA_IDENTIFICATION
	_ID ID #IMPLIED
	NADAManufacturedHousingGuideEditionMonth CDATA #IMPLIED
	NADAManufacturedHousingGuideEditionYear CDATA #IMPLIED
	ManufacturedHomeBuiltState CDATA #IMPLIED
	ManufacturedHomeRegionIdentifier CDATA #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	LengthFeetCount CDATA #IMPLIED
	NADAManufacturedHousingGuideGreyPageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideWhitePageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideBlackPageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideYellowPageIdentifier CDATA #IMPLIED
	NADAManufacturedHousingGuideConversionChartPageIdentifier CDATA #IMPLIED
	ManufacturedHomeCostDataComment CDATA #IMPLIED
>
<!ELEMENT DEPRECIATION EMPTY>
<!ATTLIST DEPRECIATION
	_ID ID #IMPLIED
	_PhysicalPercent CDATA #IMPLIED
	_PhysicalAmount CDATA #IMPLIED
	_FunctionalPercent CDATA #IMPLIED
	_FunctionalAmount CDATA #IMPLIED
	_ExteriorPercent CDATA #IMPLIED
	_ExteriorAmount CDATA #IMPLIED
	_TotalAmount CDATA #IMPLIED
>
<!ELEMENT DEVELOPMENT_STAGE EMPTY>
<!ATTLIST DEVELOPMENT_STAGE
	_ID ID #IMPLIED
	_Type (Complete | Incomplete | SubjectPhase) #IMPLIED
	_Description CDATA #IMPLIED
	_TotalPhasesCount CDATA #IMPLIED
	CompletedUnitsCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	PlannedUnitsCount CDATA #IMPLIED
	UnitsForSaleCount CDATA #IMPLIED
	UnitsSoldCount CDATA #IMPLIED
	UnitsRentedCount CDATA #IMPLIED
	OwnerOccupiedUnitCount CDATA #IMPLIED
>
<!ELEMENT DOCUMENT (#PCDATA | *)*>
<!ELEMENT EFFECTIVE_AGE EMPTY>
<!ATTLIST EFFECTIVE_AGE
	_ID ID #IMPLIED
	GSEEffectiveAgeDescription CDATA #IMPLIED
>
<!ELEMENT EMBEDDED_FILE (DOCUMENT*)>
<!ATTLIST EMBEDDED_FILE
	_ID ID #IMPLIED
	_Type CDATA #IMPLIED
	_Version CDATA #IMPLIED
	_Name CDATA #IMPLIED
	_Extension CDATA #IMPLIED
	_EncodingType CDATA #IMPLIED
	_Description CDATA #IMPLIED
	MIMEType CDATA #IMPLIED
>
<!ELEMENT EXTERIOR_FEATURE EMPTY>
<!ATTLIST EXTERIOR_FEATURE
	_ID ID #IMPLIED
	_Type (Foundation | Walls | RoofSurface | GuttersAndDownspouts | WindowType | WindowStormSash | WindowScreens | WindowInsulation | WindowCombination | Doors | Skirting | Condition | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT FLOOD_ZONE (FLOOD_ZONE_EXTENSION*)>
<!ATTLIST FLOOD_ZONE
	_ID ID #IMPLIED
	NFIPFloodZoneIdentifier CDATA #IMPLIED
	NFIPMapIdentifier CDATA #IMPLIED
	NFIPMapPanelDate CDATA #IMPLIED
	NFIPCommunityName CDATA #IMPLIED
	SpecialFloodHazardAreaIndicator (Y | N) #IMPLIED
>
<!ELEMENT FLOOD_ZONE_EXTENSION (FLOOD_ZONE_EXTENSION_SECTION*)>
<!ATTLIST FLOOD_ZONE_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT FLOOD_ZONE_EXTENSION_SECTION (CONTACT_DETAIL*, FLOOD_ZONE_EXTENSION_SECTION_DATA?)>
<!ATTLIST FLOOD_ZONE_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT FLOOD_ZONE_EXTENSION_SECTION_DATA (FLOOD_ZONE_INFORMATION?)>
<!ATTLIST FLOOD_ZONE_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT FLOOD_ZONE_INFORMATION EMPTY>
<!ATTLIST FLOOD_ZONE_INFORMATION
	_ID ID #IMPLIED
	GSEFEMASpecialFloodHazardAreaIndicator (Y | N) #IMPLIED
	GSEFEMAFloodMapIdentifier CDATA #IMPLIED
	GSENFIPFloodZoneIdentifier CDATA #IMPLIED
>
<!ELEMENT FLOOR_COVERING EMPTY>
<!ATTLIST FLOOR_COVERING
	_ID ID #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Type (Carpet | Vinyl | CeramicTile | Hardwood | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT FORM (IMAGE*, MARKET?)>
<!ATTLIST FORM
	_ID ID #IMPLIED
	AppraisalReportContentSequenceIdentifier CDATA #IMPLIED
	AppraisalReportContentType (CoverPage | AppraisalForm | Certification | ExtraSales | ExtraRentals | ExtraListsings | Addendum | Sketch | LocationMap | PlatMap | FloodMap | SubjectPhotos | SalePhotos | ListingPhotos | RentalPhotos | CommentAddendum | Exhibit | SalesContract | AppraisalLicense | Invoice | Other) #IMPLIED
	AppraisalReportContentTypeOtherDescription CDATA #IMPLIED
	AppraisalReportContentIdentifier CDATA #IMPLIED
	AppraisalReportContentName CDATA #IMPLIED
	AppraisalReportContentDescription CDATA #IMPLIED
	AppraisalAddendumText CDATA #IMPLIED
	_TitleDescription CDATA #IMPLIED
	AppraisalReportContentIsPrimaryFormIndicator (Y | N) #IMPLIED
>
<!ELEMENT FOUNDATION (_CONDITION*)>
<!ATTLIST FOUNDATION
	_ID ID #IMPLIED
	_Type (Slab | Crawlspace | Basement | PartialBasement | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_ConditionDescription CDATA #IMPLIED
	_MaterialType (PouredConcrete | ConcreteRunners | BlockAndPier | Other) #IMPLIED
	_MaterialTypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT FOUNDATION_FEATURE EMPTY>
<!ATTLIST FOUNDATION_FEATURE
	_ID ID #IMPLIED
	_Type (SumpPump | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_DetailDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT HEATING EMPTY>
<!ATTLIST HEATING
	_ID ID #IMPLIED
	_Type (ForcedWarmAir | HotWaterBaseboard | Radiant | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_AdditionalUnitDescription CDATA #IMPLIED
	_AdditionalUnitName CDATA #IMPLIED
	_UnitConditionDescription CDATA #IMPLIED
	_FuelDescription CDATA #IMPLIED
	_UnitDescription CDATA #IMPLIED
>
<!ELEMENT IMAGE (EMBEDDED_FILE?, REFERENCED_FILE?)>
<!ATTLIST IMAGE
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
	_Name CDATA #IMPLIED
	_CaptionComment CDATA #IMPLIED
>
<!ELEMENT INCOME_ANALYSIS (RESIDENTIAL_RENT_SCHEDULE?, MULTIFAMILY_RENT_SCHEDULE?, MULTIFAMILY_RENTALS*)>
<!ATTLIST INCOME_ANALYSIS
	_ID ID #IMPLIED
	EstimatedMarketMonthlyRentAmount CDATA #IMPLIED
	GrossRentMultiplierFactor CDATA #IMPLIED
	ValueIndicatedByIncomeApproachAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT INSPECTION EMPTY>
<!ATTLIST INSPECTION
	_ID ID #IMPLIED
	AppraisalInspectionPropertyType (Subject | Comparable) #IMPLIED
	AppraisalInspectionType (ExteriorAndInterior | ExteriorOnly | None | Other) #IMPLIED
	AppraisalInspectionTypeOtherDescription CDATA #IMPLIED
	ExteriorInspectionSufficientIndicator (Y | N) #IMPLIED
	InspectionDate CDATA #IMPLIED
>
<!ELEMENT INSULATION (_AREA*, _ABSENCE?)>
<!ATTLIST INSULATION
	_ID ID #IMPLIED
	_Comment CDATA #IMPLIED
	EnergyEfficientItemsDescription CDATA #IMPLIED
>
<!ELEMENT INTERIOR_FEATURE (WALL_MATERIAL*, FLOOR_COVERING*)>
<!ATTLIST INTERIOR_FEATURE
	_ID ID #IMPLIED
	_Type (Floors | Walls | TrimAndFinish | BathroomWainscot | BathroomFloors | Doors | Appliances | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ConditionDescription CDATA #IMPLIED
>
<!ELEMENT KITCHEN_EQUIPMENT EMPTY>
<!ATTLIST KITCHEN_EQUIPMENT
	_ID ID #IMPLIED
	_Type (Refrigerator | RangeOven | Cooktop | Disposal | Dishwasher | Compactor | FanHood | Microwave | WasherDryer | StandAloneOven | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Count CDATA #IMPLIED
>
<!ELEMENT LENDER (CONTACT_DETAIL?)>
<!ATTLIST LENDER
	_ID ID #IMPLIED
	_Identifier CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	AppraisalFormsUnparsedAddress CDATA #IMPLIED
>
<!ELEMENT LEVEL (ROOM_TYPE_SUMMARY*)>
<!ATTLIST LEVEL
	_ID ID #IMPLIED
	_Type (Basement | LevelOne | LevelTwo | LevelThree | LevelFour | LevelFive | Attic | Other | OtherTwo) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	SquareFeetPerUnitCount CDATA #IMPLIED
>
<!ELEMENT LISTING_FEATURE EMPTY>
<!ATTLIST LISTING_FEATURE
	_ID ID #IMPLIED
	_Type (NeighborhoodAppeal | OriginalListPrice | CurrentListPrice | LastPriceRevisionDate | DaysOnMarket | ActualAge | GrossLivingArea | TotalRooms | TotalBedrooms | TotalBathrooms | SiteArea | SiteAppeal | StyleAndAppeal | ConstructionQuality | Condition | InteriorAppeal | BasementArea | BasementFinish | FunctionalUtility | HeatingCooling | CarStorage | Fireplace | SignificantFeatures | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT LISTING_HISTORY EMPTY>
<!ATTLIST LISTING_HISTORY
	_ID ID #IMPLIED
	CurrentlyListedIndicator (Y | N) #IMPLIED
	CurrentListPriceAmount CDATA #IMPLIED
	DaysOnMarketCount CDATA #IMPLIED
	OriginalListPriceAmount CDATA #IMPLIED
	LastListPriceRevisionDate CDATA #IMPLIED
	ListedWithinPreviousYearIndicator (Y | N) #IMPLIED
	ListedWithinPreviousYearDescription CDATA #IMPLIED
>
<!ELEMENT LOCATION EMPTY>
<!ATTLIST LOCATION
	_ID ID #IMPLIED
	PropertyStreetAddress CDATA #IMPLIED
	PropertyStreetAddress2 CDATA #IMPLIED
	UnitIdentifier CDATA #IMPLIED
	PropertyCity CDATA #IMPLIED
	PropertyState CDATA #IMPLIED
	PropertyPostalCode CDATA #IMPLIED
	LongitudeNumber CDATA #IMPLIED
	LatitudeNumber CDATA #IMPLIED
	ProximityToSubjectDescription CDATA #IMPLIED
	AppraisalFormsAdditionalLocationDescription CDATA #IMPLIED
>
<!ELEMENT MANAGEMENT_COMPANY EMPTY>
<!ATTLIST MANAGEMENT_COMPANY
	GSEManagementCompanyName CDATA #IMPLIED
>
<!ELEMENT MANAGEMENT_COMPANY_EXTENSION (MANAGEMENT_COMPANY_EXTENSION_SECTION*)>
<!ATTLIST MANAGEMENT_COMPANY_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT MANAGEMENT_COMPANY_EXTENSION_SECTION (CONTACT_DETAIL*, MANAGEMENT_COMPANY_EXTENSION_SECTION_DATA?)>
<!ATTLIST MANAGEMENT_COMPANY_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT MANAGEMENT_COMPANY_EXTENSION_SECTION_DATA (MANAGEMENT_COMPANY)>
<!ATTLIST MANAGEMENT_COMPANY_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT MANUFACTURED_HOME (_SECTION*, _QUALITY?)>
<!ATTLIST MANUFACTURED_HOME
	_ID ID #IMPLIED
	LengthFeetCount CDATA #IMPLIED
	_DeckDescription CDATA #IMPLIED
	_MakeIdentifier CDATA #IMPLIED
	_ModelIdentifier CDATA #IMPLIED
	_ModelYear CDATA #IMPLIED
	_ManufactureDate CDATA #IMPLIED
	_PorchDescription CDATA #IMPLIED
	_SerialNumberIdentifier CDATA #IMPLIED
	_HUDCertificationLabelIdentifier CDATA #IMPLIED
	_TipOutDescription CDATA #IMPLIED
	_WaniganDescription CDATA #IMPLIED
	_WidthType (SingleWide | MultiWide) #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	_SectionCount CDATA #IMPLIED
	_ModificationsDescription CDATA #IMPLIED
	_InstallerName CDATA #IMPLIED
	_InstalledDate CDATA #IMPLIED
	_AttachedToFoundationIndicator (Y | N) #IMPLIED
	_AttachedToFoundationDescription CDATA #IMPLIED
	_WheelsRemovedIndicator (Y | N) #IMPLIED
	_WheelsDescription CDATA #IMPLIED
	_ConnectedToUtilitiesIndicator (Y | N) #IMPLIED
	_ConnectionToUtilitiesDescription CDATA #IMPLIED
	_InteriorSpaceAcceptableToMarketIndicator (Y | N) #IMPLIED
	_InteriorSpaceAcceptabilityToMarketDescription CDATA #IMPLIED
	_HUDDataPlateAttachedIndicator (Y | N) #IMPLIED
	_HUDDataPlateDataSourceDescription CDATA #IMPLIED
	_HUDCertificationLabelAttachedIndicator (Y | N) #IMPLIED
	_HUDCertificationLabelDataSourceDescription CDATA #IMPLIED
	_MeetsHUDRequirementsForLocationIndicator (Y | N) #IMPLIED
	_MeetsHUDRequirementsForLocationDescription CDATA #IMPLIED
	_ManufacturedYear CDATA #IMPLIED
>
<!ELEMENT MARKET (MARKET_INVENTORY*, SUBJECT_PROJECT?)>
<!ATTLIST MARKET
	_ID ID #IMPLIED
	MarketTrendsAdverseFinancingTrendType (Declining | Stable | Increasing) #IMPLIED
	MarketTrendsAdverseFinancingIndicator (Y | N) #IMPLIED
	SalesConcessionDescription CDATA #IMPLIED
	MarketTrendsForeclosureActivityIndicator (Y | N) #IMPLIED
	NeighborhoodMarketabilityFactorsDescription CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	MarketTrendsReconciliationComment CDATA #IMPLIED
>
<!ELEMENT MARKET_INVENTORY EMPTY>
<!ATTLIST MARKET_INVENTORY
	_ID ID #IMPLIED
	_Type (AbsorptionRate | MedianListDOM | MedianListPrice | MedianSalesDOM | MedianSalesPrice | MedianSalesToListRatio | Supply | TotalListings | TotalSales) #IMPLIED
	_MonthRangeType (Prior7To12Months | Prior4To6Months | Last3Months) #IMPLIED
	_Count CDATA #IMPLIED
	_Rate CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_TrendType (Declining | Stable | Increasing) #IMPLIED
>
<!ELEMENT MULTIFAMILY_RENTAL (LOCATION?, RENTAL_UNIT+, RENTAL_FEATURE+, OTHER_FEATURE_DESCRIPTION*, IMAGE*)>
<!ATTLIST MULTIFAMILY_RENTAL
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
	RentPerGrossBuildingAreaAmount CDATA #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	GrossBuildingAreaSquareFeetCount CDATA #IMPLIED
>
<!ELEMENT MULTIFAMILY_RENTALS (OTHER_FEATURE*, MULTIFAMILY_RENTAL*)>
<!ATTLIST MULTIFAMILY_RENTALS
	RentalDataAnalysisComment CDATA #IMPLIED
>
<!ELEMENT MULTIFAMILY_RENT_SCHEDULE (UNIT_RENT_SCHEDULE+, RENT_INCLUDES_UTILITY*)>
<!ATTLIST MULTIFAMILY_RENT_SCHEDULE
	RentalActualGrossMonthlyRentAmount CDATA #IMPLIED
	RentalActualAdditionalMonthlyIncomeAmount CDATA #IMPLIED
	RentalActualTotalMonthlyIncomeAmount CDATA #IMPLIED
	RentalEstimatedGrossMonthlyRentAmount CDATA #IMPLIED
	RentalEstimatedAdditionalMonthlyIncomeAmount CDATA #IMPLIED
	RentalEstimatedTotalMonthlyIncomeAmount CDATA #IMPLIED
	MarketRentalDataComment CDATA #IMPLIED
	RentalDataAnalysisComment CDATA #IMPLIED
>
<!ELEMENT NEIGHBORHOOD (_HOUSING*, _TYPICAL_APARTMENT?, _PRESENT_LAND_USE*, NEIGHBORHOOD_FEATURE*, _ADVERSE_FEATURE*, NEIGHBORHOOD_EXTENSION?)>
<!ATTLIST NEIGHBORHOOD
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_BoundaryAndCharacteristicsDescription CDATA #IMPLIED
	_BuiltupRangeType (Over75Percent | 25To75Percent | Under25Percent) #IMPLIED
	_BuiltupEstimatedPercent CDATA #IMPLIED
	_DemandSupplyType (Shortage | InBalance | OverSupply) #IMPLIED
	_ExtendedMarketingTimeIndicator (Y | N) #IMPLIED
	_GrowthPaceType (FullyDeveloped | Rapid | Stable | Slow | Declining) #IMPLIED
	_LandUseChangeStatusType (Likely | NotLikely | InProcess) #IMPLIED
	_LandUseCurrentDescription CDATA #IMPLIED
	_LandUseFutureDescription CDATA #IMPLIED
	PropertyNeighborhoodLocationType (Urban | Suburban | Rural) #IMPLIED
	PropertyNeighborhoodLocationTypeOtherDescription CDATA #IMPLIED
	_PotentialManufacturedHomeParkDescription CDATA #IMPLIED
	_MarketabilityFactorsDescription CDATA #IMPLIED
	_MarketConditionsDescription CDATA #IMPLIED
	_StreetMeetsStandardsIndicator (Y | N) #IMPLIED
	_PropertyValueTrendType (Increasing | Stable | Declining) #IMPLIED
	_TypicalMarketingTimeDurationType (UnderThreeMonths | ThreeToSixMonths | OverSixMonths) #IMPLIED
	_PredominantOccupancyType (Owner | Tenant) #IMPLIED
	_OwnerOccupancyPercent CDATA #IMPLIED
	_TenantOccupancyPercent CDATA #IMPLIED
	_PercentageVacancyType (VacantZeroToFivePercent | VacantOverFivePercent) #IMPLIED
	_VacancyPercent CDATA #IMPLIED
	_AcceptanceOfCooperativeOwnershipIndicator (Y | N) #IMPLIED
	_AcceptabilityOfCooperativeOwnershipDescription CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	AdverseMarketConditionsIndicator (Y | N) #IMPLIED
>
<!ELEMENT NEIGHBORHOOD_BOUNDARIES EMPTY>
<!ATTLIST NEIGHBORHOOD_BOUNDARIES
	_ID ID #IMPLIED
	GSENeighborhoodBoundariesDescription CDATA #IMPLIED
>
<!ELEMENT NEIGHBORHOOD_EXTENSION (NEIGHBORHOOD_EXTENSION_SECTION*)>
<!ATTLIST NEIGHBORHOOD_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT NEIGHBORHOOD_EXTENSION_SECTION (CONTACT_DETAIL*, NEIGHBORHOOD_EXTENSION_SECTION_DATA?)>
<!ATTLIST NEIGHBORHOOD_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT NEIGHBORHOOD_EXTENSION_SECTION_DATA (NEIGHBORHOOD_BOUNDARIES?)>
<!ATTLIST NEIGHBORHOOD_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT NEIGHBORHOOD_FEATURE EMPTY>
<!ATTLIST NEIGHBORHOOD_FEATURE
	_ID ID #IMPLIED
	_Type (AdequacyOfShopping | EmploymentOpportunities | RecreationalFacilities | AdequacyOfUtilities | AdequacyOfPublicTransportation | PropertyCompatibility | ProtectionFromDetrimentalConditions | PoliceAndFireProtection | GeneralAppearanceOfProperties | AppealToMarket | EmploymentStability | ConvenienceToEmployment | ConvenienceToShopping | ConvenienceToPublicTransportation | ConvenienceToGrammarSchool | ConvenienceToFreewayAccess | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_EstimatedDistanceText CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
>
<!ELEMENT NEW_IMPROVEMENT EMPTY>
<!ATTLIST NEW_IMPROVEMENT
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_Type (Dwelling | Garage | PorchesPatios | EnergyEfficientItems | LevelOne | LevelTwo | LevelThree | LevelFour | LevelFive | SectionOne | SectionTwo | SectionThree | SectionFour | Additional | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_CostDescription CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	PricePerSquareFootAmount CDATA #IMPLIED
	_CostAmount CDATA #IMPLIED
>
<!ELEMENT OFFERING_DISPOSITION EMPTY>
<!ATTLIST OFFERING_DISPOSITION
	GSEShortDateDescription CDATA #IMPLIED
>
<!ELEMENT OTHER_FEATURE EMPTY>
<!ATTLIST OTHER_FEATURE
	_ID ID #IMPLIED
	PropertyFeatureSequenceIdentifier CDATA #IMPLIED
	PropertyFeatureName CDATA #IMPLIED
>
<!ELEMENT OTHER_FEATURE_ADJUSTMENT EMPTY>
<!ATTLIST OTHER_FEATURE_ADJUSTMENT
	_ID ID #IMPLIED
	PropertyFeatureSequenceIdentifier CDATA #IMPLIED
	PropertyFeatureDescription CDATA #IMPLIED
	PropertyFeatureAdjustmentAmount CDATA #IMPLIED
>
<!ELEMENT OTHER_FEATURE_DESCRIPTION EMPTY>
<!ATTLIST OTHER_FEATURE_DESCRIPTION
	_ID ID #IMPLIED
	PropertyFeatureSequenceIdentifier CDATA #IMPLIED
	PropertyFeatureDescription CDATA #IMPLIED
>
<!ELEMENT OVERALL_CONDITION_RATING EMPTY>
<!ATTLIST OVERALL_CONDITION_RATING
	GSEOverallConditionType (C1 | C2 | C3 | C4 | C5 | C6) #IMPLIED
	GSEUpdateLastFifteenYearIndicator (Y | N) #IMPLIED
>
<!ELEMENT OVERALL_CONDITION_RATING_EXTENSION (OVERALL_CONDITION_RATING_EXTENSION_SECTION*)>
<!ATTLIST OVERALL_CONDITION_RATING_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT OVERALL_CONDITION_RATING_EXTENSION_SECTION (CONTACT_DETAIL*, OVERALL_CONDITION_RATING_EXTENSION_SECTION_DATA?)>
<!ATTLIST OVERALL_CONDITION_RATING_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT OVERALL_CONDITION_RATING_EXTENSION_SECTION_DATA (OVERALL_CONDITION_RATING)>
<!ATTLIST OVERALL_CONDITION_RATING_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PARCEL_IDENTIFICATION EMPTY>
<!ATTLIST PARCEL_IDENTIFICATION
	_ID ID #IMPLIED
	_Type (ParcelIdentificationNumber | TaxMapIdentifier | TaxParcelIdentifier | AssessorUnformattedIdentifier | TorrensCertificateIdentifier | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
>
<!ELEMENT PARCEL_IDENTIFIER EMPTY>
<!ATTLIST PARCEL_IDENTIFIER
	_ID ID #IMPLIED
	GSEAssessorsParcelIdentifier CDATA #IMPLIED
>
<!ELEMENT PARSED_STREET_ADDRESS EMPTY>
<!ATTLIST PARSED_STREET_ADDRESS
	_ID ID #IMPLIED
	_StreetName CDATA #IMPLIED
	_DirectionPrefix CDATA #IMPLIED
	_DirectionSuffix CDATA #IMPLIED
	_StreetSuffix CDATA #IMPLIED
	_HouseNumber CDATA #IMPLIED
	_BuildingNumber CDATA #IMPLIED
	_ApartmentOrUnit CDATA #IMPLIED
	_MilitaryAPOFPO CDATA #IMPLIED
	_RuralRoute CDATA #IMPLIED
	_PostOfficeBox CDATA #IMPLIED
	PlusFourPostalCode CDATA #IMPLIED
	SitusCarrierRouteIdentifier CDATA #IMPLIED
>
<!ELEMENT PARTIES (APPRAISER?, SUPERVISOR?, REVIEW_APPRAISER?, REAL_ESTATE_AGENT?, LENDER?, BORROWER?, MANAGEMENT_COMPANY_EXTENSION?)>
<!ATTLIST PARTIES
	_ID ID #IMPLIED
>
<!ELEMENT PLATTED_LAND EMPTY>
<!ATTLIST PLATTED_LAND
	_ID ID #IMPLIED
	PropertyLotIdentifier CDATA #IMPLIED
	PropertyBlockIdentifier CDATA #IMPLIED
	PropertySectionIdentifier CDATA #IMPLIED
	PropertySubdivisionIdentifier CDATA #IMPLIED
	PropertyTractIdentifier CDATA #IMPLIED
	PlatName CDATA #IMPLIED
	_BuildingIdentifier CDATA #IMPLIED
	_PlatCodeIdentifier CDATA #IMPLIED
	_PlatInstrumentIdentifier CDATA #IMPLIED
	_UnitNumberIdentifier CDATA #IMPLIED
	RecordedDocumentBook CDATA #IMPLIED
	RecordedDocumentPage CDATA #IMPLIED
>
<!ELEMENT PRICE_FORECASTING (COMPETITIVE_LISTINGS*)>
<!ATTLIST PRICE_FORECASTING
	_ID ID #IMPLIED
	MarketTrendsAdverseFinancingIndicator (Y | N) #IMPLIED
	MarketTrendsHistoricPricesType (Increasing | Stable | Decreasing) #IMPLIED
	MarketTrendsForeclosureActivityIndicator (Y | N) #IMPLIED
	MarketTrendsInterestRatesType (Increasing | Stable | Decreasing) #IMPLIED
	MarketTrendsSalesActivityType (Increasing | Stable | Decreasing) #IMPLIED
	NeighborhoodPropertyValueTrendType (Increasing | Stable | Decreasing) #IMPLIED
	NeighborhoodDemandSupplyType (OverSupply | InBalance | UnderSupply) #IMPLIED
	NeighborhoodTypicalMarketingMonthsDurationType (OverSixMonths | ThreeToSixMonths | UnderThreeMonths) #IMPLIED
	NeighborhoodTypicalMarketingDaysDurationType (Under30Days | 30To120Days | Over120Days) #IMPLIED
	PropertyTypicalMarketingDaysDurationType (Under30Days | 30To120Days | Over120Days) #IMPLIED
	MarketTrendsHistoricAnalysisComment CDATA #IMPLIED
	MarketTrendsReconciliationComment CDATA #IMPLIED
>
<!ELEMENT PRIOR_SALE EMPTY>
<!ATTLIST PRIOR_SALE
	_ID ID #IMPLIED
	GSEPriorSaleDate CDATA #IMPLIED
	GSEPriorSaleComment CDATA #IMPLIED
>
<!ELEMENT PRIOR_SALES (PRIOR_SALES_EXTENSION?)>
<!ATTLIST PRIOR_SALES
	PropertySalesDate CDATA #IMPLIED
	PropertySalesAmount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	DataSourceEffectiveDate CDATA #IMPLIED
>
<!ELEMENT PRIOR_SALES_EXTENSION (PRIOR_SALES_EXTENSION_SECTION*)>
<!ATTLIST PRIOR_SALES_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT PRIOR_SALES_EXTENSION_SECTION (CONTACT_DETAIL*, PRIOR_SALES_EXTENSION_SECTION_DATA?)>
<!ATTLIST PRIOR_SALES_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT PRIOR_SALES_EXTENSION_SECTION_DATA (PRIOR_SALE?)>
<!ATTLIST PRIOR_SALES_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PROJECT (DEVELOPMENT_STAGE*, PROJECT_RATING*, PROJECT_CAR_STORAGE?, PROJECT_ANALYSIS*, _PER_UNIT_FEE?, _BLANKET_FINANCING*, _OCCUPANCY*, PROJECT_EXTENSION?)>
<!ATTLIST PROJECT
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CommonElementsDescription CDATA #IMPLIED
	_CommonElementsCompletedIndicator (Y | N) #IMPLIED
	_CommonElementsStatusDescription CDATA #IMPLIED
	_CommonElementsLeasedIndicator (Y | N) #IMPLIED
	_CommonElementsLeaseTermsDescription CDATA #IMPLIED
	_ConditionAndQualityDescription CDATA #IMPLIED
	_ContainsMultipleDwellingUnitsIndicator (Y | N) #IMPLIED
	_ContainsMultipleDwellingUnitsDataSourceDescription CDATA #IMPLIED
	_ConversionIndicator (Y | N) #IMPLIED
	_ConversionDate CDATA #IMPLIED
	_ConversionOriginalUseDescription CDATA #IMPLIED
	_ClassificationType (Condominium | Cooperative | PUD | Other) #IMPLIED
	_ClassificationTypeOtherDescription CDATA #IMPLIED
	_CurrentStatusDescription CDATA #IMPLIED
	_DesignType (TownhouseRowhouse | GardenProject | MidriseProject | HighriseProject | Attached | Detached | Other) #IMPLIED
	_DesignTypeOtherDescription CDATA #IMPLIED
	_DeveloperControlsProjectManagementIndicator (Y | N) #IMPLIED
	_DeveloperControlOfProjectManagementDescription CDATA #IMPLIED
	_ManagementType (HomeownersAssociation | Developer | CooperativeBoard | ManagementAgent | Other) #IMPLIED
	_ManagementTypeOtherDescription CDATA #IMPLIED
	_ManagementAgentName CDATA #IMPLIED
	_PhaseIdentifier CDATA #IMPLIED
	PropertyCurrentUsageType (PrimaryResidence | SecondHome | Investment | Tenant | Other) #IMPLIED
	_PrimaryOccupancyType (PrincipleResidence | SecondHome | Tenant) #IMPLIED
	_UnitDensityPerAcreCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	ElevatorCount CDATA #IMPLIED
	StoriesCount CDATA #IMPLIED
	_DataSourceType (ManagementAgency | CooperativeBoard | HomeownersAssociation | Developer | Other) #IMPLIED
	_DataSourceTypeOtherDescription CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	_ConcentratedOwnershipIndicator (Y | N) #IMPLIED
	_ConcentratedOwnershipDescription CDATA #IMPLIED
	_CommercialSpaceIndicator (Y | N) #IMPLIED
	CommercialSpaceDescription CDATA #IMPLIED
	_PartOfMasterAssociationIndicator (Y | N) #IMPLIED
	_PartOfMasterAssociationDescription CDATA #IMPLIED
	_TotalSharesCount CDATA #IMPLIED
	_PerUnitFinancingAmount CDATA #IMPLIED
	_PerUnitLienAmount CDATA #IMPLIED
	OwnersWithinProjectMoreThanTwoMonthsDelinquentCount CDATA #IMPLIED
	_DeveloperTransferConcessionsIndicator (Y | N) #IMPLIED
	_DeveloperTransferConcessionsDescription CDATA #IMPLIED
	_TaxAbatementsOrExemptionsIndicator (Y | N) #IMPLIED
	_TaxAbatementsOrExemptionsDescription CDATA #IMPLIED
	_StockTransferFeeIndicator (Y | N) #IMPLIED
	_StockTransferFeeDescription CDATA #IMPLIED
>
<!ELEMENT PROJECT_ANALYSIS (UNIT_CHARGE*)>
<!ATTLIST PROJECT_ANALYSIS
	_ID ID #IMPLIED
	_BudgetAnalyzedIndicator (Y | N) #IMPLIED
	_BudgetAnalysisComment CDATA #IMPLIED
	_AdequacyOfBudgetType (Adequate | Inadequate | Unknown) #IMPLIED
	_AdequacyOfManagementType (Adequate | Inadequate | Unknown) #IMPLIED
	_CharacteristicsAffectMarketabilityIndicator (Y | N) #IMPLIED
	CharacteristicsAffectMarketabilityDescription CDATA #IMPLIED
	_GroundRentAmount CDATA #IMPLIED
	_GroundRentIndicator (Y | N) #IMPLIED
	_GroundRentDescription CDATA #IMPLIED
	_AdditionalFacilitiesFeeIndicator (Y | N) #IMPLIED
	_AdditionalFacilitiesFeeAmount CDATA #IMPLIED
	_AdditionalFacilitiesFeeDescription CDATA #IMPLIED
	_UnitChargesIncludeUtilitiesIndicator (Y | N) #IMPLIED
	_UnitChargesDoNotIncludeUtilitiesComment CDATA #IMPLIED
	_UnitChargesRatingType (High | Typical | Low) #IMPLIED
	_CompetitiveProjectComparisonType (High | Average | Low) #IMPLIED
	_CompetitiveProjectComparisonDescription CDATA #IMPLIED
	_SpecialCharacteristicsIndicator (Y | N) #IMPLIED
	_SpecialCharacteristicsDescription CDATA #IMPLIED
>
<!ELEMENT PROJECT_CAR_STORAGE (CAR_STORAGE_LOCATION*)>
<!ATTLIST PROJECT_CAR_STORAGE
	_ID ID #IMPLIED
	AdequateIndicator (Y | N) #IMPLIED
	_AdequacyEffectOnMarketabilityDescription CDATA #IMPLIED
	GuestParkingIndicator (Y | N) #IMPLIED
	GuestParkingSpacesCount CDATA #IMPLIED
	ParkingSpacesCount CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_SpacesToUnitsRatioNumber CDATA #IMPLIED
>
<!ELEMENT PROJECT_COMMERCIAL EMPTY>
<!ATTLIST PROJECT_COMMERCIAL
	_ID ID #IMPLIED
	GSEProjectCommercialSpacePercent CDATA #IMPLIED
>
<!ELEMENT PROJECT_EXTENSION (PROJECT_EXTENSION_SECTION*)>
<!ATTLIST PROJECT_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT PROJECT_EXTENSION_SECTION (CONTACT_DETAIL*, PROJECT_EXTENSION_SECTION_DATA?)>
<!ATTLIST PROJECT_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT PROJECT_EXTENSION_SECTION_DATA (PROJECT_COMMERCIAL)>
<!ATTLIST PROJECT_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PROJECT_RATING EMPTY>
<!ATTLIST PROJECT_RATING
	_ID ID #IMPLIED
	ProjectAspectType (Location | GeneralAppearance | AmenityAndRecreationalFacilities | Density | UnitMix | QualityOfConstruction | ConditionOfExterior | ConditionOfInterior | AppealToMarket | Other) #IMPLIED
	ProjectAspectTypeOtherDescription CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT PROPERTY (PARSED_STREET_ADDRESS?, _IDENTIFICATION?, _LEGAL_DESCRIPTION*, STRUCTURE*, _OFF_SITE_IMPROVEMENT*, SITE?, PROJECT?, NEIGHBORHOOD?, _TITLE_TRANSFER_INSPECTION?, _TAX?, SALES_HISTORY*, LISTING_HISTORY?, EMBEDDED_FILE*, PROPERTY_ANALYSIS*, _OWNER*, SALES_CONTRACT?, PROPERTY_EXTENSION?)>
<!ATTLIST PROPERTY
	_ID ID #IMPLIED
	MISMOVersionID (2.6GSE) #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_County CDATA #IMPLIED
	_Country CDATA #IMPLIED
	BuildingStatusType (Complete | Existing | Proposed | SubjectToAlteration | SubstantiallyRehabilitated | UnderConstruction | Incomplete | Other) #IMPLIED
	BuildingStatusTypeOtherDescription CDATA #IMPLIED
	LandUseType (Residential | Income | Commercial | Industrial | Vacant | Agricultural | PublicAndSemipublic | Recreational | TransportationAndUtility | Other) #IMPLIED
	LandUseTypeOtherDescription CDATA #IMPLIED
	LandUseComment CDATA #IMPLIED
	_ConditionDescription CDATA #IMPLIED
	_CurrentOccupancyType (Abandoned | AdverseOccupied | OwnerOccupied | RemovedOrDestroyed | TenantOccupied | Unknown | Vacant) #IMPLIED
	_CurrentOccupantUnparsedName CDATA #IMPLIED
	_GatedCommunityIndicator (Y | N) #IMPLIED
	_RightsType (CommunityProperty | FeeSimple | JointTenants | Leasehold | TenantsInCommon | Cooperative | Personal | DeMinimisPUD | Unassigned | Other) #IMPLIED
	_RightsTypeOtherDescription CDATA #IMPLIED
	_TaxDelinquentIndicator (Y | N) #IMPLIED
	_TitleCategoryType (SingleFamily | Condominium | Townhouse | Cooperative | TwoToFourUnitProperty | MultipleFamilyMoreThanFourUnits | ManufacturedHome | CommercialNonResidential | MixedUserResidential | Farm | HomeAndBusinessCombined | VacantLand | Church | CondominiumOverFourStories | Other) #IMPLIED
	_TitleCategoryTypeOtherDescription CDATA #IMPLIED
	_AppraisedWithinPreviousYearIndicator (Y | N) #IMPLIED
	_AppraisedWithinPreviousYearDescription CDATA #IMPLIED
	ProjectClassificationType (Condominium | Cooperative | PUD | Other) #IMPLIED
	ProjectClassificationTypeOtherDescription CDATA #IMPLIED
	LeaseExpirationDate CDATA #IMPLIED
>
<!ELEMENT PROPERTY_ANALYSIS EMPTY>
<!ATTLIST PROPERTY_ANALYSIS
	_ID ID #IMPLIED
	_Type (AdditionalFeatures | AdverseEnvironmentalFactors | Depreciation | QualityAndAppearance | ConformsToNeighborhood | AdversePhysicalDeficiencies | AdverseConditions | AdverseSiteConditions | UtilitiesAndOffSiteImprovementsConformToNeighborhood | ConformsToNeighborhoodInTermsOfSizeAndShape | ExternalObsolescence | HazardousWaste | AdequateIngress | UndergoingRemodeling | AtypicalFunctionalObsolescence | AppearsToBeSingleFamily | PhysicalDeficiency | PropertyCondition | NoAdverseFactors | HasFactorsRequiringAppraisal | HasAdverseFactorsRequiringAppraisal | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT PROPERTY_EXTENSION (PROPERTY_EXTENSION_SECTION*)>
<!ATTLIST PROPERTY_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_EXTENSION_SECTION (CONTACT_DETAIL*, PROPERTY_EXTENSION_SECTION_DATA?)>
<!ATTLIST PROPERTY_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT PROPERTY_EXTENSION_SECTION_DATA (PROPERTY_TYPE)>
<!ATTLIST PROPERTY_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_IDENTIFICATION_EXTENSION (PROPERTY_IDENTIFICATION_EXTENSION_SECTION*)>
<!ATTLIST PROPERTY_IDENTIFICATION_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_IDENTIFICATION_EXTENSION_SECTION (CONTACT_DETAIL*, PROPERTY_IDENTIFICATION_EXTENSION_SECTION_DATA?)>
<!ATTLIST PROPERTY_IDENTIFICATION_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT PROPERTY_IDENTIFICATION_EXTENSION_SECTION_DATA (PARCEL_IDENTIFIER?)>
<!ATTLIST PROPERTY_IDENTIFICATION_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_OWNER EMPTY>
<!ATTLIST PROPERTY_OWNER
	_ID ID #IMPLIED
	GSEPropertyOwnerName CDATA #IMPLIED
>
<!ELEMENT PROPERTY_OWNER_EXTENSION (PROPERTY_OWNER_EXTENSION_SECTION?)>
<!ATTLIST PROPERTY_OWNER_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_OWNER_EXTENSION_SECTION (CONTACT_DETAIL*, PROPERTY_OWNER_EXTENSION_SECTION_DATA?)>
<!ATTLIST PROPERTY_OWNER_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT PROPERTY_OWNER_EXTENSION_SECTION_DATA (PROPERTY_OWNER?)>
<!ATTLIST PROPERTY_OWNER_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_TAX_AMOUNT EMPTY>
<!ATTLIST PROPERTY_TAX_AMOUNT
	_ID ID #IMPLIED
	GSEPropertyTaxTotalTaxAmount CDATA #IMPLIED
>
<!ELEMENT PROPERTY_TAX_EXTENSION (PROPERTY_TAX_EXTENSION_SECTION*)>
<!ATTLIST PROPERTY_TAX_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_TAX_EXTENSION_SECTION (CONTACT_DETAIL*, PROPERTY_TAX_EXTENSION_SECTION_DATA?)>
<!ATTLIST PROPERTY_TAX_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT PROPERTY_TAX_EXTENSION_SECTION_DATA (PROPERTY_TAX_AMOUNT?)>
<!ATTLIST PROPERTY_TAX_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT PROPERTY_TYPE EMPTY>
<!ATTLIST PROPERTY_TYPE
	_ID ID #IMPLIED
	GSE_PUDIndicator CDATA #IMPLIED
>
<!ELEMENT REAL_ESTATE_AGENT (CONTACT_DETAIL?)>
<!ATTLIST REAL_ESTATE_AGENT
	_ID ID #IMPLIED
	_Type (Listing | Other | Selling) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_UnparsedName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_County CDATA #IMPLIED
>
<!ELEMENT REFERENCED_FILE EMPTY>
<!ATTLIST REFERENCED_FILE
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	__IDentifier CDATA #IMPLIED
	_Type (PDF | HTML | TXT | XML | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_PathDescription CDATA #IMPLIED
	_URLDescription CDATA #IMPLIED
	_CreatorName CDATA #IMPLIED
	_CreatorVersionIdentifier CDATA #IMPLIED
>
<!ELEMENT RENTAL_FEATURE EMPTY>
<!ATTLIST RENTAL_FEATURE
	_ID ID #IMPLIED
	_Type (Lease | Location | Age | Condition | UtilitiesIncluded | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT RENTAL_UNIT (UNIT_EXTENSION*)>
<!ATTLIST RENTAL_UNIT
	_ID ID #IMPLIED
	UnitSequenceIdentifier CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
>
<!ELEMENT RENT_ADJUSTMENT EMPTY>
<!ATTLIST RENT_ADJUSTMENT
	_ID ID #IMPLIED
	_Type (RentConcessions | OtherConcessions | Location | View | Design | Appeal | Age | Condition | GrossLivingArea | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT RENT_INCLUDES_UTILITY EMPTY>
<!ATTLIST RENT_INCLUDES_UTILITY
	_ID ID #IMPLIED
	_Type (Electric | Water | Sewer | Gas | Oil | Cable | Trash | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Indicator (Y | N) #IMPLIED
>
<!ELEMENT REPAIRS (REPAIR_ITEM*)>
<!ATTLIST REPAIRS
	_ID ID #IMPLIED
	_TotalCostAmount CDATA #IMPLIED
	_Description CDATA #IMPLIED
>
<!ELEMENT REPAIR_ITEM EMPTY>
<!ATTLIST REPAIR_ITEM
	_ID ID #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_CostAmount CDATA #IMPLIED
>
<!ELEMENT REPORT (FORM*, EMBEDDED_FILE*, REFERENCED_FILE*)>
<!ATTLIST REPORT
	_ID ID #IMPLIED
	AppraisalSoftwareProductName CDATA #IMPLIED
	AppraisalSoftwareProductVersionIdentifier CDATA #IMPLIED
	AppraisalFormType (FNM1004 | FNM1004B | FNM1004C | FNM1004D | ERC2001 | ERC2003 | FNM2090 | FNM2095 | FNM1073 | FNM1075 | FNM1025 | FNM2000 | FNM2000A | FNM2055 | FNM2065 | FRE2070 | FNM2075 | MobileHome | VacantLand | FNM442 | Other) #IMPLIED
	AppraisalFormTypeOtherDescription CDATA #IMPLIED
	AppraisalFormVersionIdentifier CDATA #IMPLIED
	USPAPReportDescription CDATA #IMPLIED
	AppraiserFileIdentifier CDATA #IMPLIED
	AppraiserAdditionalFileIdentifierName CDATA #IMPLIED
	AppraiserAdditionalFileIdentifier CDATA #IMPLIED
	LoanPurposeType (ConstructionOnly | ConstructionToPermanent | Purchase | Refinance | Unknown | Other) #IMPLIED
	OtherLoanPurposeDescription CDATA #IMPLIED
	LoanOriginationSystemLoanIdentifier CDATA #IMPLIED
	AppraiserReportSignedDate CDATA #IMPLIED
	SupervisorReportSignedDate CDATA #IMPLIED
	AppraisalScopeOfWorkDescription CDATA #IMPLIED
	AppraisalIntendedUserDescription CDATA #IMPLIED
	AppraisalIntendedUseDescription CDATA #IMPLIED
	AppraisalPurposeType (EmployeeRelocation | JuniorLien | Other | PortfolioEvaluation | Purchase | QualityControl | Refinance | REO | Review | Validation) #IMPLIED
	AppraisalPurposeTypeOtherDescription CDATA #IMPLIED
	_TitleDescription CDATA #IMPLIED
>
<!ELEMENT RESEARCH (SUBJECT?, COMPARABLE?)>
<!ATTLIST RESEARCH
	_ID ID #IMPLIED
	SalesHistoryResearchedIndicator (Y | N) #IMPLIED
	SalesHistoryNotResearchedComment CDATA #IMPLIED
	ComparableListingsResearchedCount CDATA #IMPLIED
	ComparableListingsPriceRangeLowAmount CDATA #IMPLIED
	ComparableListingsPriceRangeHighAmount CDATA #IMPLIED
	ComparableSalesResearchedCount CDATA #IMPLIED
	ComparableSalesPriceRangeLowAmount CDATA #IMPLIED
	ComparableSalesPriceRangeHighAmount CDATA #IMPLIED
>
<!ELEMENT RESIDENTIAL_RENTAL (LOCATION?, RENT_ADJUSTMENT*, ROOM_ADJUSTMENT+)>
<!ATTLIST RESIDENTIAL_RENTAL
	_ID ID #IMPLIED
	PropertySequenceIdentifier CDATA #IMPLIED
	LeaseStartDate CDATA #IMPLIED
	LeaseExpirationDate CDATA #IMPLIED
	MonthlyRentAmount CDATA #IMPLIED
	RentalMonthlyUtilitiesCostAmount CDATA #IMPLIED
	MonthlyFurnitureRentAmount CDATA #IMPLIED
	ExpenseAdjustedMonthlyRentAmount CDATA #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	RentTotalAdjustmentAmount CDATA #IMPLIED
	RentTotalAdjustmentPositiveIndicator (Y | N) #IMPLIED
	RentTotalAdjustmentNetPercent CDATA #IMPLIED
	RentTotalAdjustmentGrossPercent CDATA #IMPLIED
	MarketAdjustedMonthlyRentAmount CDATA #IMPLIED
>
<!ELEMENT RESIDENTIAL_RENT_SCHEDULE (OTHER_FEATURE*, RESIDENTIAL_RENTAL*, OTHER_FEATURE_ADJUSTMENT*)>
<!ATTLIST RESIDENTIAL_RENT_SCHEDULE
	EstimatedMarketMonthlyRentAmount CDATA #IMPLIED
	EstimatedMarketMonthlyRentEffectiveDate CDATA #IMPLIED
	MarketRentalDataComment CDATA #IMPLIED
	MarketRentReconciliationComment CDATA #IMPLIED
>
<!ELEMENT REVIEW_APPRAISER (CONTACT_DETAIL?, APPRAISER_LICENSE?, INSPECTION*)>
<!ATTLIST REVIEW_APPRAISER
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CompanyName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
>
<!ELEMENT ROOM_ADJUSTMENT EMPTY>
<!ATTLIST ROOM_ADJUSTMENT
	_ID ID #IMPLIED
	UnitSequenceIdentifier CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	BathroomAdjustmentAmount CDATA #IMPLIED
	RoomAdjustmentAmount CDATA #IMPLIED
>
<!ELEMENT ROOM_ADJUSTMENT_EXTENSION (ROOM_ADJUSTMENT_EXTENSION_SECTION*)>
<!ATTLIST ROOM_ADJUSTMENT_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT ROOM_ADJUSTMENT_EXTENSION_SECTION (CONTACT_DETAIL*, ROOM_ADJUSTMENT_EXTENSION_SECTION_DATA?)>
<!ATTLIST ROOM_ADJUSTMENT_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT ROOM_ADJUSTMENT_EXTENSION_SECTION_DATA (UNIT_ROOM_ADJUSTMENT?)>
<!ATTLIST ROOM_ADJUSTMENT_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT ROOM_TYPE_SUMMARY EMPTY>
<!ATTLIST ROOM_TYPE_SUMMARY
	_ID ID #IMPLIED
	RoomType (Foyer | LivingRoom | DiningRoom | Kitchen | Den | FamilyRoom | RecreationRoom | Bedroom | Bathroom | Laundry | Other) #IMPLIED
	RoomTypeOtherDescription CDATA #IMPLIED
	_Count CDATA #IMPLIED
>
<!ELEMENT SALES_COMPARISON (OTHER_FEATURE*, RESEARCH*, COMPARABLE_SALE*)>
<!ATTLIST SALES_COMPARISON
	_ID ID #IMPLIED
	ValueIndicatedBySalesComparisonApproachAmount CDATA #IMPLIED
	_Comment CDATA #IMPLIED
	_CurrentSalesAgreementAnalysisComment CDATA #IMPLIED
	_UnitOfMeasureDescription CDATA #IMPLIED
	_ValuePerUnitAmount CDATA #IMPLIED
	_TotalUnitValueAmount CDATA #IMPLIED
	_ValuePerRoomAmount CDATA #IMPLIED
	_TotalRoomValueAmount CDATA #IMPLIED
	_ValuePerBedroomAmount CDATA #IMPLIED
	_TotalBedroomValueAmount CDATA #IMPLIED
	_ValuePerGrossBuildingAreaAmount CDATA #IMPLIED
	_TotalGrossBuildingAreaValueAmount CDATA #IMPLIED
>
<!ELEMENT SALES_CONCESSION EMPTY>
<!ATTLIST SALES_CONCESSION
	_ID ID #IMPLIED
	GSEUndefinedConcessionAmountIndicator (Y | N) #IMPLIED
>
<!ELEMENT SALES_CONCESSION_EXTENSION (SALES_CONCESSION_EXTENSION_SECTION*)>
<!ATTLIST SALES_CONCESSION_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT SALES_CONCESSION_EXTENSION_SECTION (CONTACT_DETAIL*, SALES_CONCESSION_EXTENSION_SECTION_DATA?)>
<!ATTLIST SALES_CONCESSION_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT SALES_CONCESSION_EXTENSION_SECTION_DATA (SALES_CONCESSION?)>
<!ATTLIST SALES_CONCESSION_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT SALES_CONTRACT (SALES_CONTRACT_EXTENSION?, SALES_CONCESSION_EXTENSION?)>
<!ATTLIST SALES_CONTRACT
	_ID ID #IMPLIED
	_Date CDATA #IMPLIED
	_Amount CDATA #IMPLIED
	_ConditionsOfSaleDescription CDATA #IMPLIED
	_ReviewedIndicator (Y | N) #IMPLIED
	_ReviewComment CDATA #IMPLIED
	_TermsAndConditionsConsistentWithTheLocalMarketIndicator (Y | N) #IMPLIED
	SellerIsOwnerIndicator (Y | N) #IMPLIED
	SalesConcessionIndicator (Y | N) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
	SalesConcessionDescription CDATA #IMPLIED
	_RetailerName CDATA #IMPLIED
	_InvoiceReviewedIndicator (Y | N) #IMPLIED
	_InvoiceReviewComment CDATA #IMPLIED
	SalesConcessionAmount CDATA #IMPLIED
>
<!ELEMENT SALES_CONTRACT_EXTENSION (SALES_CONTRACT_EXTENSION_SECTION*)>
<!ATTLIST SALES_CONTRACT_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT SALES_CONTRACT_EXTENSION_SECTION (CONTACT_DETAIL*, SALES_CONTRACT_EXTENSION_SECTION_DATA?)>
<!ATTLIST SALES_CONTRACT_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT SALES_CONTRACT_EXTENSION_SECTION_DATA (SALES_TRANSACTION?)>
<!ATTLIST SALES_CONTRACT_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT SALES_HISTORY EMPTY>
<!ATTLIST SALES_HISTORY
	_ID ID #IMPLIED
	_Type (Last | FirstPrior | SecondPrior | ThirdPrior | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_SequenceIdentifier CDATA #IMPLIED
	DownPaymentAmount CDATA #IMPLIED
	LenderUnparsedName CDATA #IMPLIED
	LoanTermDescription CDATA #IMPLIED
	LoanOriginalMaturityTermMonths CDATA #IMPLIED
	PricePerSquareFootAmount CDATA #IMPLIED
	PropertySalesDate CDATA #IMPLIED
	PropertySalesAmount CDATA #IMPLIED
	_AnalysisOfAgreementDescription CDATA #IMPLIED
	RecordedDocumentType (Assignment | BargainAndSaleDeed | BlanketAssignment | DeedOfTrust | ModificationAgreementOrConsolidationAgreements | Mortgage | PartialSatisfactionOfLien | QuitClaimDeed | Reconveyance | Riders | SatisfactionOfLien | SubordinateLienAgreement | WarrantyDeed | Other) #IMPLIED
	RecordedDocumentTypeOtherDescription CDATA #IMPLIED
	RecordedDocumentIdentifier CDATA #IMPLIED
	_ParcelSplitDescription CDATA #IMPLIED
	_PendingRecordIndicator (Y | N) #IMPLIED
	_StampAmount CDATA #IMPLIED
	_TransferredOwnershipPercent CDATA #IMPLIED
	SalesConcessionAmount CDATA #IMPLIED
	SalesConcessionDescription CDATA #IMPLIED
	SellingRealEstateAgencyName CDATA #IMPLIED
	SellerUnparsedName CDATA #IMPLIED
	TitleCompanyName CDATA #IMPLIED
>
<!ELEMENT SALES_TRANSACTION EMPTY>
<!ATTLIST SALES_TRANSACTION
	_ID ID #IMPLIED
	GSESaleType (Listing | REOSale | ShortSale | CourtOrderedSale | EstateSale | RelocationSale | NonArmsLengthSale | ArmsLengthSale) #IMPLIED
>
<!ELEMENT SALE_PRICE_ADJUSTMENT EMPTY>
<!ATTLIST SALE_PRICE_ADJUSTMENT
	_ID ID #IMPLIED
	_Type (Additions | AdjustedMonthlyRent | Age | BasementArea | BasementFinish | CarStorage | CommonElements | Condition | DateOfSale | DesignAppeal | DesignStyle | EffectiveAge | EnergyEfficient | FencePool | FinancingConcessions | RoomsBelowGrade | Fireplaces | FloorLocation | Forecasting | FunctionalUtility | Furnishings | GarageCarport | GrossBuildingArea | GrossLivingArea | HeatingCooling | InteriorAppeal | Location | Make | MarketChange | MaintenanceFees | MonthlyFacilityFee | NeighborhoodAppeal | Parking | PorchDeck | ProjectAmenities | ProjectSize | PropertyRights | Quality | RecreationFacilities | RemodelKitchen | RemodelBath | RentConcessions | SalesConcessions | SecurityFeatures | ProjectSecurity | SignificantFeatures | SiteAppeal | SiteArea | SiteValue | TipOut | Utilities | View | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT SITE (SITE_FEATURE*, FLOOD_ZONE?, SITE_UTILITY*)>
<!ATTLIST SITE
	_ID ID #IMPLIED
	_Comment CDATA #IMPLIED
	CornerLotIndicator (Y | N) #IMPLIED
	DepthFeetCount CDATA #IMPLIED
	HighestBestUseIndicator (Y | N) #IMPLIED
	HighestBestUseDescription CDATA #IMPLIED
	PropertyAcreageNumber CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	_AdverseEasementsIndicator (Y | N) #IMPLIED
	_AdverseEasementsDescription CDATA #IMPLIED
	_AdverseEnvironmentalFactorsComment CDATA #IMPLIED
	_AreaDescription CDATA #IMPLIED
	_DimensionsDescription CDATA #IMPLIED
	_UndergroundUtilitiesIndicator (Y | N) #IMPLIED
	_ZoningComplianceType (Legal | Nonconforming | Illegal | NoZoning) #IMPLIED
	_ZoningComplianceDescription CDATA #IMPLIED
	_ZoningClassificationIdentifier CDATA #IMPLIED
	_ZoningClassificationDescription CDATA #IMPLIED
	_ZoningPermitRebuildToCurrentDensityIndicator (Y | N) #IMPLIED
	PropertyZoningCategoryType (Residential | Commercial | Industrial | Agricultural | NonResidentialGrandfatheredResidential | NoZoning | Other) #IMPLIED
	PropertyZoningCategoryTypeOtherDescription CDATA #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	CharacteristicsAffectMarketabilityDescription CDATA #IMPLIED
>
<!ELEMENT SITE_FEATURE EMPTY>
<!ATTLIST SITE_FEATURE
	_ID ID #IMPLIED
	_Type (Topography | Size | Shape | Drainage | Density | View | Landscaping | Driveway | ApparentEasement | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT SITE_UTILITY EMPTY>
<!ATTLIST SITE_UTILITY
	_ID ID #IMPLIED
	_Type (Electricity | Gas | Water | SanitarySewer | StormSewer | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_PublicIndicator (Y | N) #IMPLIED
	_NonPublicIndicator (Y | N) #IMPLIED
	_NonPublicDescription CDATA #IMPLIED
>
<!ELEMENT STRUCTURE (STRUCTURE_DATA_SOURCE*, EXTERIOR_FEATURE*, MANUFACTURED_HOME?, FOUNDATION*, FOUNDATION_FEATURE*, BASEMENT?, INSULATION?, LEVEL*, INTERIOR_FEATURE*, FLOOR_COVERING*, HEATING*, COOLING?, KITCHEN_EQUIPMENT*, ATTIC*, AMENITY*, CAR_STORAGE?, STRUCTURE_ANALYSIS?, _ADDITIONAL_ITEM*, _UNIT_GROUP*, _UNIT?, _TYPICAL_TO_NEIGHBORHOOD*, CONDITION_DETAIL_EXTENSION?, OVERALL_CONDITION_RATING_EXTENSION?, STRUCTURE_EXTENSION?)>
<!ATTLIST STRUCTURE
	_ID ID #IMPLIED
	PropertyStructureBuiltYear CDATA #IMPLIED
	AgeYearsCount CDATA #IMPLIED
	BuildingCount CDATA #IMPLIED
	BuildingStatusType (Complete | Existing | Proposed | SubjectToAlteration | SubstantiallyRehabilitated | UnderConstruction | Incomplete) #IMPLIED
	ElevatorCount CDATA #IMPLIED
	StoriesCount CDATA #IMPLIED
	_AppealDescription CDATA #IMPLIED
	PropertyCategoryType (Attached | Detached | SemiDetached | Church | CommercialNonResidential | CommercialResidential | Farm | HighRise | LandAndLots | LowRise | Manufactured | ManufacturedMultiWide | ManufacturedSingleWide | MobileHome | Modular | SiteBuilt | Stacked | TownhouseRowhouse | Other) #IMPLIED
	PropertyCategoryTypeOtherDescription CDATA #IMPLIED
	StructureConfigurationType (Duplex | Fourplex | Other | RowHouse | Single | Triplex) #IMPLIED
	StructureConfigurationTypeOtherDescription CDATA #IMPLIED
	_ConditionDescription CDATA #IMPLIED
	_ConstructionStatusDescription CDATA #IMPLIED
	_DesignDescription CDATA #IMPLIED
	PropertyStructureHabitableYearRoundIndicator (Y | N) #IMPLIED
	_HeatingCoolingMeteredSeparatelyIndicator (Y | N) #IMPLIED
	_HeatingCoolingMeteredSeparatelyDescription CDATA #IMPLIED
	ManufacturedHomeIndicator (Y | N) #IMPLIED
	_ManufacturedHousingDescription CDATA #IMPLIED
	_NeverOccupiedIndicator (Y | N) #IMPLIED
	_SingleFamilyResidenceIndicator (Y | N) #IMPLIED
	_StateDescription CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	_AccessoryUnitCount CDATA #IMPLIED
	GrossBuildingAreaSquareFeetCount CDATA #IMPLIED
	GrossLivingAreaSquareFeetCount CDATA #IMPLIED
	GrossLivingAreaSquareFeetDataSourceDescription CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	CharacteristicsAffectMarketabilityDescription CDATA #IMPLIED
	_AdditionsDescription CDATA #IMPLIED
	ExteriorInspectionSufficientIndicator (Y | N) #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	RentControlDescription CDATA #IMPLIED
	_InteriorFloorComment CDATA #IMPLIED
	_InteriorWallComment CDATA #IMPLIED
	ParkingSpaceAssignmentTypeOtherDescription CDATA #IMPLIED
	_AccessoryUnitExistsIndicator (Y | N) #IMPLIED
	AttachmentType (Attached | Detached | SemiDetached) #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS (STRUCTURE_ANALYSIS_RATING?, STRUCTURE_ANALYSIS_EXTENSION?)>
<!ATTLIST STRUCTURE_ANALYSIS
	_ID ID #IMPLIED
	EffectiveAgeRangeHighYearsCount CDATA #IMPLIED
	EffectiveAgeRangeLowYearsCount CDATA #IMPLIED
	EffectiveAgeYearsCount CDATA #IMPLIED
	RemainingEconomicLifeRangeHighYearsCount CDATA #IMPLIED
	RemainingEconomicLifeRangeLowYearsCount CDATA #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS_EXTENSION (STRUCTURE_ANALYSIS_EXTENSION_SECTION*)>
<!ATTLIST STRUCTURE_ANALYSIS_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS_EXTENSION_SECTION (CONTACT_DETAIL*, STRUCTURE_ANALYSIS_EXTENSION_SECTION_DATA?)>
<!ATTLIST STRUCTURE_ANALYSIS_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS_EXTENSION_SECTION_DATA (EFFECTIVE_AGE?)>
<!ATTLIST STRUCTURE_ANALYSIS_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT STRUCTURE_ANALYSIS_RATING EMPTY>
<!ATTLIST STRUCTURE_ANALYSIS_RATING
	_ID ID #IMPLIED
	_ItemType (ExteriorAppeal | ConstructionQuality | TrimAndFinish | Condition | InteriorAppeal | FunctionalUtility | RoomSizeAndLayout | AdequacyOfClosetsAndStorage | KitchenEquipment | Plumbing | Electrical | Skirting | AdequacyOfInsulation | LocationWithinProjectOrView | OverallLivability | AppealAndMarketability | Other) #IMPLIED
	_ItemTypeOtherDescription CDATA #IMPLIED
	RatingConditionType (Excellent | Good | Average | Fair | Poor) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT STRUCTURE_DATA_SOURCE EMPTY>
<!ATTLIST STRUCTURE_DATA_SOURCE
	_ID ID #IMPLIED
	DataSourceType (InteriorExteriorInspection | ExteriorInspectionOnly | PreviousAppraisalFile | ThirdPartyAppraisalReport | MultipleListingService | AssessmentAndTaxRecords | PriorInspection | PropertyOwner | Other) #IMPLIED
	DataSourceTypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT STRUCTURE_EXTENSION (STRUCTURE_EXTENSION_SECTION*)>
<!ATTLIST STRUCTURE_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT STRUCTURE_EXTENSION_SECTION (CONTACT_DETAIL*, STRUCTURE_EXTENSION_SECTION_DATA?)>
<!ATTLIST STRUCTURE_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT STRUCTURE_EXTENSION_SECTION_DATA (STRUCTURE_INFORMATION?)>
<!ATTLIST STRUCTURE_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT STRUCTURE_INFORMATION EMPTY>
<!ATTLIST STRUCTURE_INFORMATION
	GSEYearBuiltEstimationIndicator (Y | N) #IMPLIED
	GSEStoriesCount CDATA #IMPLIED
>
<!ELEMENT SUBJECT EMPTY>
<!ATTLIST SUBJECT
	_ID ID #IMPLIED
	_HasPriorSalesIndicator (Y | N) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT SUBJECT_PROJECT (MARKET_INVENTORY*)>
<!ATTLIST SUBJECT_PROJECT
	_ID ID #IMPLIED
	MarketTrendsAdverseFinancingType (Declining | Stable | Increasing) #IMPLIED
	ProjectName CDATA #IMPLIED
	MarketTrendsForeclosureActivityIndicator (Y | N) #IMPLIED
	NeighborhoodMarketabilityFactorsDescription CDATA #IMPLIED
	MarketTrendsReconciliationComment CDATA #IMPLIED
>
<!ELEMENT SUPERVISOR (CONTACT_DETAIL?, APPRAISER_LICENSE?, INSPECTION*)>
<!ATTLIST SUPERVISOR
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_CompanyName CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
	_Identifier CDATA #IMPLIED
>
<!ELEMENT UNIT_CHARGE (UNIT_CHARGE_UTILITY*)>
<!ATTLIST UNIT_CHARGE
	_ID ID #IMPLIED
	_PeriodType (Annually | Biweekly | Daily | Monthly | Quarterly | Semiannually | Semimonthly | Weekly) #IMPLIED
	_Amount CDATA #IMPLIED
	_PerSquareFootAmount CDATA #IMPLIED
	_NoUtilitiesIncludedInAssessmentIndicator (Y | N) #IMPLIED
>
<!ELEMENT UNIT_CHARGE_UTILITY EMPTY>
<!ATTLIST UNIT_CHARGE_UTILITY
	_ID ID #IMPLIED
	_Type (Heating | Cooling | Electricity | Gas | Water | Sewer | Garbage | Cable | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_IncludedInAssessmentIndicator (Y | N) #IMPLIED
>
<!ELEMENT UNIT_DETAIL EMPTY>
<!ATTLIST UNIT_DETAIL
	_ID ID #IMPLIED
	GSERentControlDescription CDATA #IMPLIED
	GSERentUnitDescription CDATA #IMPLIED
>
<!ELEMENT UNIT_EXTENSION (UNIT_EXTENSION_SECTION*)>
<!ATTLIST UNIT_EXTENSION
	_ID ID #IMPLIED
>
<!ELEMENT UNIT_EXTENSION_SECTION (CONTACT_DETAIL*, UNIT_EXTENSION_SECTION_DATA?)>
<!ATTLIST UNIT_EXTENSION_SECTION
	_ID ID #IMPLIED
	ExtensionSectionOrganizationName CDATA #IMPLIED
	ExtensionSectionTypeDescription CDATA #IMPLIED
	ExtensionSectionVersion (1.0) #IMPLIED
>
<!ELEMENT UNIT_EXTENSION_SECTION_DATA (UNIT_DETAIL?)>
<!ATTLIST UNIT_EXTENSION_SECTION_DATA
	_ID ID #IMPLIED
>
<!ELEMENT UNIT_RENT_SCHEDULE EMPTY>
<!ATTLIST UNIT_RENT_SCHEDULE
	_ID ID #IMPLIED
	UnitSequenceIdentifier CDATA #IMPLIED
	LeaseStartDate CDATA #IMPLIED
	LeaseExpirationDate CDATA #IMPLIED
	UnitUnfurnishedActualRentAmount CDATA #IMPLIED
	UnitFurnishedActualRentAmount CDATA #IMPLIED
	UnitActualRentAmount CDATA #IMPLIED
	UnitUnfurnishedMarketRentAmount CDATA #IMPLIED
	UnitFurnishedMarketRentAmount CDATA #IMPLIED
	UnitMarketRentAmount CDATA #IMPLIED
>
<!ELEMENT UNIT_ROOM_ADJUSTMENT EMPTY>
<!ATTLIST UNIT_ROOM_ADJUSTMENT
	_ID ID #IMPLIED
	GSEUnitRoomAdjustmentDescription CDATA #IMPLIED
>
<!ELEMENT UNPLATTED_LAND EMPTY>
<!ATTLIST UNPLATTED_LAND
	_ID ID #IMPLIED
	_DescriptionType (GovernmentSurvey | MetesAndBounds | Other) #IMPLIED
	_DescriptionTypeOtherDescription CDATA #IMPLIED
	PropertyTownshipIdentifier CDATA #IMPLIED
	PropertyRangeIdentifier CDATA #IMPLIED
	PropertySectionIdentifier CDATA #IMPLIED
	_AbstractNumberIdentifier CDATA #IMPLIED
	_BaseIdentifier CDATA #IMPLIED
	_LandGrantIdentifier CDATA #IMPLIED
	_MeridianIdentifier CDATA #IMPLIED
	_MetesAndBoundsRemainingDescription CDATA #IMPLIED
	_QuarterSectionIdentifier CDATA #IMPLIED
>
<!ELEMENT VALUATION (_RECONCILIATION?)>
<!ATTLIST VALUATION
	PropertyAppraisedValueAmount CDATA #IMPLIED
	PropertyForecastedSalePriceAmount CDATA #IMPLIED
	AppraisalEffectiveDate CDATA #IMPLIED
>
<!ELEMENT VALUATION_METHODS (COST_ANALYSIS?, SALES_COMPARISON?, INCOME_ANALYSIS?, PRICE_FORECASTING?)>
<!ATTLIST VALUATION_METHODS
	_ID ID #IMPLIED
	_AdditionalDescription CDATA #IMPLIED
>
<!ELEMENT VALUATION_RESPONSE (REPORT?, PARTIES?, PROPERTY?, VALUATION_METHODS?, VALUATION?, APPRAISAL_UPDATE?, APPRAISAL_REVIEW?)>
<!ATTLIST VALUATION_RESPONSE
	MISMOVersionID (2.6GSE) #IMPLIED
>
<!ELEMENT WALL_MATERIAL EMPTY>
<!ATTLIST WALL_MATERIAL
	_ID ID #IMPLIED
	_Type (Drywall | Paneling | Pressboard | Plaster | Ceramic | Marlite | Fiberglass | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT _ABSENCE EMPTY>
<!ATTLIST _ABSENCE
	_ID ID #IMPLIED
	_Type (Unknown | None) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _ADDITIONAL_ITEM EMPTY>
<!ATTLIST _ADDITIONAL_ITEM
	_ID ID #IMPLIED
	StructureAdditionalGeneralItemName CDATA #IMPLIED
	StructureAdditionalGeneralItemDescription CDATA #IMPLIED
>
<!ELEMENT _ADVERSE_FEATURE EMPTY>
<!ATTLIST _ADVERSE_FEATURE
	_ID ID #IMPLIED
	_Type (EmploymentConditions | OverSupply | DecliningValues | ExtendedMarketingTime | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _AREA EMPTY>
<!ATTLIST _AREA
	_ID ID #IMPLIED
	_Type (Roof | Ceiling | Walls | Floor | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	InsulationRatingDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT _BLANKET_FINANCING EMPTY>
<!ATTLIST _BLANKET_FINANCING
	_ID ID #IMPLIED
	LienPriorityType (FirstLien | FourthLien | Other | SecondLien | ThirdLien) #IMPLIED
	LienPriorityTypeOtherDescription CDATA #IMPLIED
	LienDescription CDATA #IMPLIED
	LiabilityUnpaidBalanceAmount CDATA #IMPLIED
	BalloonIndicator (Y | N) #IMPLIED
	RemainingTermDescription CDATA #IMPLIED
	LiabilityMonthlyPaymentAmount CDATA #IMPLIED
	CurrentInterestRate CDATA #IMPLIED
	LoanAmortizationType (AdjustableRate | DailySimpleInterest | Fixed | GraduatedPaymentARM | GraduatedPaymentMortgage | GrowingEquityMortgage | OtherAmortizationType | RateImprovementMortgage | ReverseMortgage | Ruleof78s | Step) #IMPLIED
	LoanAmortizationTypeOtherDescription CDATA #IMPLIED
	LienHolderName CDATA #IMPLIED
>
<!ELEMENT _CATEGORY EMPTY>
<!ATTLIST _CATEGORY
	_ID ID #IMPLIED
	_Type (ComparableRentals | ComparablesSimilar | Contract | CostAndIncome | DataAnalysis | Improvements | MarketRent | Neighborhood | RentSchedule | Subject | Site | TransferHistory | ValueIndicators | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_AccuracyType (Accurate | NotAccurate | NotApplicable | NotDeveloped) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _CONDITION EMPTY>
<!ATTLIST _CONDITION
	_ID ID #IMPLIED
	_Type (Dampness | Settlement | Infestation | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Comment CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
>
<!ELEMENT _CONDITION_OF_APPRAISAL EMPTY>
<!ATTLIST _CONDITION_OF_APPRAISAL
	_ID ID #IMPLIED
	_Type (AsIs | Other | SubjectToCompletion | SubjectToInspections | SubjectToRepairs) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT _EXEMPTION EMPTY>
<!ATTLIST _EXEMPTION
	_ID ID #IMPLIED
	_Description CDATA #IMPLIED
	_Indicator (Y | N) #IMPLIED
>
<!ELEMENT _HOUSING EMPTY>
<!ATTLIST _HOUSING
	_ID ID #IMPLIED
	_Type (SingleFamily | TwoToFourFamily | Condominium | ManufacturedHome | Cooperative | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_OldestYearsCount CDATA #IMPLIED
	_NewestYearsCount CDATA #IMPLIED
	_HighPriceAmount CDATA #IMPLIED
	_LowPriceAmount CDATA #IMPLIED
	_PredominantAgeYearsCount CDATA #IMPLIED
	_PredominantPriceAmount CDATA #IMPLIED
	_PredominantOccupancyType (Owner | Tenant) #IMPLIED
	_OwnerOccupancyPercent CDATA #IMPLIED
	_TenantOccupancyPercent CDATA #IMPLIED
	_PercentageVacancyType (VacantZeroToFivePercent | VacantOverFivePercent) #IMPLIED
	_VacancyPercent CDATA #IMPLIED
>
<!ELEMENT _IDENTIFICATION (PROPERTY_IDENTIFICATION_EXTENSION*)>
<!ATTLIST _IDENTIFICATION
	_ID ID #IMPLIED
	AssessorsParcelIdentifier CDATA #IMPLIED
	AssessorsSecondParcelIdentifier CDATA #IMPLIED
	CountyFIPSCode CDATA #IMPLIED
	CensusTractIdentifier CDATA #IMPLIED
	LongitudeNumber CDATA #IMPLIED
	LatitudeNumber CDATA #IMPLIED
	MapReferenceIdentifier CDATA #IMPLIED
	MapReferenceSecondIdentifier CDATA #IMPLIED
	MSAIdentifier CDATA #IMPLIED
	MunicipalityName CDATA #IMPLIED
	SchoolDistrictName CDATA #IMPLIED
	StateFIPSCode CDATA #IMPLIED
>
<!ELEMENT _LEGAL_DESCRIPTION (PLATTED_LAND?, UNPLATTED_LAND?, PARCEL_IDENTIFICATION?)>
<!ATTLIST _LEGAL_DESCRIPTION
	_ID ID #IMPLIED
	_TextDescription CDATA #IMPLIED
	_Type (MetesAndBounds | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
>
<!ELEMENT _OCCUPANCY EMPTY>
<!ATTLIST _OCCUPANCY
	_ID ID #IMPLIED
	_Type (OwnerOccupied | DeveloperVacant | DeveloperTenantMarketRent | DeveloperTenantRegulatedRent | InvestorVacant | InvestorTenantMarketRent | InvestorTenantRegulatedRent | Total) #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	_Percent CDATA #IMPLIED
>
<!ELEMENT _OFF_SITE_IMPROVEMENT EMPTY>
<!ATTLIST _OFF_SITE_IMPROVEMENT
	_ID ID #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_Type (Alley | CurbGutter | Gated | Sidewalk | Street | StreetLighting | StreetSurface | StreetMaintenance | StreetAccess | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_OwnershipType (Public | Private | Unknown) #IMPLIED
>
<!ELEMENT _OWNER (CONTACT_DETAIL*, PROPERTY_OWNER_EXTENSION?)>
<!ATTLIST _OWNER
	_ID ID #IMPLIED
	_Name CDATA #IMPLIED
	_StreetAddress CDATA #IMPLIED
	_StreetAddress2 CDATA #IMPLIED
	_City CDATA #IMPLIED
	_State CDATA #IMPLIED
	_PostalCode CDATA #IMPLIED
	_Country CDATA #IMPLIED
>
<!ELEMENT _PER_UNIT_FEE EMPTY>
<!ATTLIST _PER_UNIT_FEE
	_ID ID #IMPLIED
	_PeriodType (Annually | Biweekly | Daily | Monthly | Quarterly | Semiannually | Semimonthly | Weekly) #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT _PRESENT_LAND_USE EMPTY>
<!ATTLIST _PRESENT_LAND_USE
	_ID ID #IMPLIED
	_Type (SingleFamily | TwoToFourFamily | Apartment | Condominium | Cooperative | Commercial | Industrial | Vacant | ManufacturedHome | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	_Percent CDATA #IMPLIED
>
<!ELEMENT _QUALITY EMPTY>
<!ATTLIST _QUALITY
	_ID ID #IMPLIED
	RatingConditionType (Poor | Fair | Average | Good | Excellent) #IMPLIED
	DataSourceDescription CDATA #IMPLIED
>
<!ELEMENT _RECONCILIATION (_CONDITION_OF_APPRAISAL*, REPAIRS?)>
<!ATTLIST _RECONCILIATION
	_ID ID #IMPLIED
	_ConditionsComment CDATA #IMPLIED
	_SummaryComment CDATA #IMPLIED
>
<!ELEMENT _SECTION EMPTY>
<!ATTLIST _SECTION
	_ID ID #IMPLIED
	_Type (SectionOne | SectionTwo | SectionThree | SectionFour | Other) #IMPLIED
	_TypeOtherDescription CDATA #IMPLIED
	DepthFeetCount CDATA #IMPLIED
	WidthFeetCount CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
>
<!ELEMENT _SPECIAL EMPTY>
<!ATTLIST _SPECIAL
	_ID ID #IMPLIED
	_Description CDATA #IMPLIED
	_Amount CDATA #IMPLIED
>
<!ELEMENT _TAX (_SPECIAL*, _EXEMPTION*, PROPERTY_TAX_EXTENSION?)>
<!ATTLIST _TAX
	_ID ID #IMPLIED
	_AssessmentStartYear CDATA #IMPLIED
	_AssessmentEndYear CDATA #IMPLIED
	_CertificateDate CDATA #IMPLIED
	_CountyRateAreaIdentifier CDATA #IMPLIED
	_ExemptionIndicator (Y | N) #IMPLIED
	_ImprovementValueAmount CDATA #IMPLIED
	_LandValueAmount CDATA #IMPLIED
	_TotalAssessedValueAmount CDATA #IMPLIED
	_TotalTaxableValueAmount CDATA #IMPLIED
	_TotalTaxAmount CDATA #IMPLIED
	_TotalSpecialTaxAmount CDATA #IMPLIED
	_ToValueRate CDATA #IMPLIED
	_TypicalTaxIndicator (Y | N) #IMPLIED
	_AtypicalComment CDATA #IMPLIED
	_YearIdentifier CDATA #IMPLIED
	_EndYear CDATA #IMPLIED
>
<!ELEMENT _TITLE_TRANSFER_INSPECTION EMPTY>
<!ATTLIST _TITLE_TRANSFER_INSPECTION
	_ID ID #IMPLIED
	_RequiredIndicator (Y | N) #IMPLIED
	_Comment CDATA #IMPLIED
>
<!ELEMENT _TYPICAL_APARTMENT EMPTY>
<!ATTLIST _TYPICAL_APARTMENT
	_ID ID #IMPLIED
	AgeYearsCount CDATA #IMPLIED
	_Description CDATA #IMPLIED
	_EstimatedVacancyPercent CDATA #IMPLIED
	_VacancyTrendType (Increasing | Stable | Decreasing) #IMPLIED
	_RentHighPriceAmount CDATA #IMPLIED
	_RentLowPriceAmount CDATA #IMPLIED
	_RentTrendType (Increasing | Stable | Decreasing) #IMPLIED
	RentControlStatusType (Yes | No | Likely) #IMPLIED
	RentControlDescription CDATA #IMPLIED
	StoriesCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
>
<!ELEMENT _TYPICAL_TO_NEIGHBORHOOD EMPTY>
<!ATTLIST _TYPICAL_TO_NEIGHBORHOOD
	_ID ID #IMPLIED
	StructureFeatureType (Overall | MaterialAndConstruction | Design | Appeal | View | Age | GrossLivingArea | Utilities | LotSize | LotShapeAndTopography | Other) #IMPLIED
	StructureFeatureTypeOtherDescription CDATA #IMPLIED
	_ExistsIndicator (Y | N) #IMPLIED
	_AtypicalDescription CDATA #IMPLIED
>
<!ELEMENT _UNIT EMPTY>
<!ATTLIST _UNIT
	_ID ID #IMPLIED
	UnitIdentifier CDATA #IMPLIED
	LevelCount CDATA #IMPLIED
	FloorIdentifier CDATA #IMPLIED
	SquareFeetCount CDATA #IMPLIED
	AgeYearsCount CDATA #IMPLIED
	EffectiveAgeYearsCount CDATA #IMPLIED
	ExteriorWallsDescription CDATA #IMPLIED
	RoofSurfaceDescription CDATA #IMPLIED
	AdditionalImprovementName CDATA #IMPLIED
	AdditionalImprovementDescription CDATA #IMPLIED
	_SharesCount CDATA #IMPLIED
>
<!ELEMENT _UNIT_GROUP (ROOM_TYPE_SUMMARY*)>
<!ATTLIST _UNIT_GROUP
	_ID ID #IMPLIED
	UnitType (UnitOne | UnitTwo | UnitThree | UnitFour | UnitFive | UnitSix) #IMPLIED
	LevelCount CDATA #IMPLIED
	GrossLivingAreaSquareFeetCount CDATA #IMPLIED
	LivingUnitCount CDATA #IMPLIED
	TotalRoomCount CDATA #IMPLIED
	TotalBedroomCount CDATA #IMPLIED
	TotalBathroomCount CDATA #IMPLIED
	SquareFeetPerUnitCount CDATA #IMPLIED
>
