UClickFormsOIFXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0 U (http://www.xmlspy.com) by Jeff J Bradford (private) -->
<!--W3C Schema generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ClientID" type="xs:short"/>
	<xs:element name="ClientOrderInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClientID"/>
				<xs:element ref="OrderID"/>
				<xs:element ref="UserName"/>
				<xs:element name="Services" type="ServicesType"/>
				<xs:element ref="TechSupport"/>
				<xs:element ref="VendorTechSupport"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EndPoint" type="xs:string"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="OrderID" type="xs:string"/>
	<xs:complexType name="ServiceType">
		<xs:sequence>
			<xs:element ref="Name"/>
			<xs:element ref="Url"/>
			<xs:element ref="EndPoint"/>
		</xs:sequence>
		<xs:attribute name="SvcName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="GetData"/>
					<xs:enumeration value="OrderFulfill"/>
					<xs:enumeration value="VerifyData"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ServicesType">
		<xs:sequence>
			<xs:element name="Service" type="ServiceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TechSupport" type="xs:string"/>
	<xs:element name="Url" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="VendorTechSupport" type="xs:boolean"/>
</xs:schema>
